@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="desCaseTypeSearchMainTab" href="#desCaseTypeSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="desCaseTypeSearchMainTabContent" title="@Localizer["Designation Case Type"]">@Localizer["Designation Case Type"]</a>
</li>
