@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="patDesCaseTypeFieldsDeleteSearchMainTab" href="#patDesCaseTypeFieldsDeleteSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patDesCaseTypeFieldsDeleteSearchMainTabContent" title="@Localizer["Des Case Type Fields Delete"]">@Localizer["Des Case Type Fields Delete"]</a>
</li>
