@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="QuickEmailCategorySearchMainTab" href="#QuickEmailCategorySearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="QuickEmailCategorySearchMainTabContent" title="@Localizer["Quick Email Category"]">@Localizer["Quick Email Category"]</a>
</li>