@model TmkDesCaseTypeFieldsDelete
@using R10.Core.Entities.Trademark
@inject IStringLocalizer<SharedResource> Localizer

<form cpi-detail-form action="Save">
    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="DesCaseType"></label>
                    @await Component.InvokeAsync("ComboBox", new { name = "DesCaseType", controller = "DesCaseType", area = "Trademark", action = "GetPicklistData", textProperty = "DesCaseType", defaultValue = Model.DesCaseType })
                    <span asp-validation-for="DesCaseType"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="FromField"></label>
                    @await Component.InvokeAsync("ComboBox", new { name = "FromField", controller = "DesCaseTypeFields", area = "Trademark", action = "GetPicklistData", defaultValue = Model.FromField })
                    <span asp-validation-for="FromField"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="ToField"></label>
                    @await Component.InvokeAsync("ComboBox", new { name = "ToField", controller = "DesCaseTypeFields", area = "Trademark", action = "GetPicklistData", defaultValue = Model.ToField })
                    <span asp-validation-for="ToField"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="DesCaseTypeNew"></label>
                    @await Component.InvokeAsync("ComboBox", new { name = "DesCaseTypeNew", controller = "DesCaseType", area = "Trademark", action = "GetPicklistData", textProperty = "DesCaseType", defaultValue = Model.DesCaseTypeNew })
                    <span asp-validation-for="DesCaseTypeNew"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="FromFieldNew"></label>
                    @await Component.InvokeAsync("ComboBox", new { name = "FromFieldNew", controller = "DesCaseTypeFields", area = "Trademark", action = "GetPicklistData", defaultValue = Model.FromFieldNew })
                    <span asp-validation-for="FromFieldNew"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="ToFieldNew"></label>
                    @await Component.InvokeAsync("ComboBox", new { name = "ToFieldNew", controller = "DesCaseTypeFields", area = "Trademark", action = "GetPicklistData", defaultValue = Model.ToFieldNew })
                    <span asp-validation-for="ToFieldNew"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col">
            <button type="submit" class="btn btn-primary btn-sm"><i class="fal fa-save mr-1"></i>@Localizer["Save"]</button>
        </div>
    </div>
</form>
