@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="releaseSearchMainTab" href="#releaseSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="releaseSearchMainTabContent" aria-selected="true" title="@Localizer["Releases"]">@Localizer["Releases"]</a>
</li>
