@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer
<div class="tab-content search page-content">
    <div class="tab-pane show active" id="patCountryExpDeleteSearchMainTabContent" aria-labelledby="patCountryExpDeleteSearchMainTab" role="tabpanel">
        <p class="text-muted">@Localizer["Click Search to view all records."]</p>
    </div>
</div>
