@model int
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings

@{
    var settings = await Settings.GetSetting();
    int id = Model;
    bool addMode = id == 0;
    var noRecord = id < 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    bool fullModify = detailPagePermission.CanEditRecord && !noRecord;        // no edit remarks only for letters
    var systemType = ViewData["SystemType"].ToString();
}

<div id="letterFilterUserGridContainer" data-filter-mapper-url="@Url.Action("DataValueMapper", "LetterFilter")">
    @(Html.Kendo().Grid<LetterRecordSourceFilterUserViewModel>()
        .Name("letterFilterUserGrid")
        .Columns(column =>
        {
            column.Bound(f => f.UserFilterId).Hidden();
            column.Bound(f => f.UserEmail).Hidden();
            column.Bound(f => f.FilterSource).Hidden();
            column.Bound(f => f.LetId).Hidden();
            column.Bound(f => f.RecSourceId).Hidden();
            column.Bound(f => f.LetterRecordSource)
                .Title(Localizer["Data Source"])
                //.ClientTemplate("#= LetterRecordSource.DataSourceDescMain #")         // undefined LetterRecordSource error on Add
                .ClientTemplate("#= typeof LetterRecordSource == 'undefined' ? '' : kendo.htmlEncode(LetterRecordSource.DataSourceDescMain) #")
                .EditorTemplateName("ComboBox")
                .EditorViewData(new
                {
                    action = "GetRecordSourceList",
                    controller = "LetterRecordSource",
                    dataTextField = "DataSourceDescMain",
                    dataValueField = "RecSourceId",
                    routeValues = new { area = "Shared" },
                    readData = $"{{parentId: {id}}}",
                    template = "<span class='k-state-default'>#: data.DataSourceDescMain #</span>"
                })
                .Width(90)
                .Editable("letterSetup.isGridColumnEditable")
                .HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);

            column.Bound(f => f.FieldName)
                .EditorTemplateName("ComboBox")
                .EditorViewData(new
                {
                    action = "GetFilterFieldsList",
                    controller = "LetterFilter",
                    area = "Shared",
                    dataValueField = "Value",
                    dataTextField = "Value",
                    readData = "letterSetup.getFilterFieldsFilter('#letterFilterUserGrid')",
                    template = "<span class='k-state-default'>#: data.Value #</span>",
                    limitToList = false
                })
                .Width(90)
                .Editable("letterSetup.isGridColumnEditable")
                .HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);

            column.Bound(f => f.Operator).EditorTemplateName("LetterFilterOperators").Width(50);

            column.Bound(f => f.Operand1)
                .EditorTemplateName("ComboBox")
                .EditorViewData(new
                {
                    action = "GetFilterDataList",
                    controller = "LetterFilter",
                    area = "Shared",
                    dataValueField = "Value",
                    dataTextField = "Value",
                    readData = "letterSetup.getOperandDataFilter('#letterFilterUserGrid')",
                    property = "Operand1",
                    enablePaging = true,
                    valueMapper = "letterSetup.valueMapperFilterUser",
                    limitToList = false
                })
                .Width(100)
                .Editable("letterSetup.isGridColumnEditable")
                .HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);

            column.Bound(f => f.Operand2)
                .EditorTemplateName("ComboBox")
                .EditorViewData(new
                {
                    action = "GetFilterDataList",
                    controller = "LetterFilter",
                    area = "Shared",
                    dataValueField = "Value",
                    dataTextField = "Value",
                    readData = "letterSetup.getOperandDataFilter('#letterFilterUserGrid')",
                    property = "Operand2",
                    enablePaging = true,
                    valueMapper = "letterSetup.valueMapperFilterUser",
                    limitToList = false
                })
                .Width(100)
                .Editable("letterSetup.isGridColumnEditable")
                .HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);

            column.Command(command =>
            {
                if (detailPagePermission.CanDeleteRecord)
                    command.Custom("Delete")
                            .Click("function(e) {letterSetup.deleteGridRow(e,this)}")
                            .IconClass("k-icon fal fa-trash-alt")
                            .Text($"<span class='grid-action-label'>{Localizer["Delete"]}</span>")
                            .HtmlAttributes(new { @class = "grid-action" });
            }).Width(100);
        })
        .AutoBind(false)
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .ToolBar(toolbar =>
        {
            if (detailPagePermission.CanAddRecord && !addMode)
            {
                toolbar.Create().IconClass("k-icon fal fa-plus").Text(Localizer["Add"]).HtmlAttributes(new { @class = "grid-action" });
            }
            if (detailPagePermission.CanEditRecord && !detailPagePermission.CanEditRemarksOnly)
            {
                toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(Localizer["Save"]).HtmlAttributes(new { @class = "d-none" });
                toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(Localizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });
            }
        })
        .Editable(editable => editable
            .Enabled(fullModify)
            .Mode(GridEditMode.InCell)
            .ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false)
            )
        .Pageable(page => page.PageSizes(true).Refresh(true))
        .Scrollable()
        .Sortable(sortable => sortable.SortMode(GridSortMode.SingleColumn).ShowIndexes(true))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(settings.SubFormPageSize)
            .ServerOperation(false) //allow pending changes to persist when paging or sorting
            .Model(model =>
            {
                model.Id(f => f.UserFilterId);

            })
            .Read(read => read.Action("GridUserFilterRead", "LetterFilter", new { parentId = id, sys = systemType }))
            .Update(update => update.Action("GridUserFilterUpdate", "LetterFilter").Data($"{{parentId: {id}}}"))
            .Destroy(update => update.Action("GridUserFilterDelete", "LetterFilter", new { sys = systemType }))
            .Events(events =>
            {
                events.Error("pageHelper.onGridError");
            })
            .Sort(sort => sort.Add(f => f.LetFilterId))
        )
        .HtmlAttributes(new { @class = "k-grid-border" })
    )
</div>


