@model LetterPageViewModel
@inject IStringLocalizer<SharedResource> Localizer

@{
    var resultLabel = Localizer["Select the letter below that you want to view or modify."];
    var gridName = $"{Model.PageId}-Grid";
}


@*<div class="pl-2"  style="font-size:small; font-style:italic;">
    @resultLabel

</div>*@
@(Html.Kendo().Grid<LetterSearchResultViewModel>()
    .Name(gridName)
    .Columns(columns =>
    {
        columns.Bound(l => l.LetId).Hidden();
        columns.Bound(l => l.LetName).Title(Localizer["Letters"]);
    })
    .AutoBind(false)
    //.Pageable(page => page.Responsive(false).Refresh(true))
    .Pageable(page => page.ButtonCount(3).Responsive(false))
    .Sortable(sort => sort.AllowUnsort(false))
    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(l => l.LetId);
                    })
                    .Events(events => events.Error("letterSetup.searchResultGridError"))
                    .Events(events => events.RequestEnd("letterSetup.searchResultGridRequestEnd"))

                    .PageSize(Model.GridPageSize)
                    .PageSize(10)
                    .Read(read => read.Action("PageRead", "LetterSetup", new { sys = Model.SystemType })
                    .Data("letterSetup.gridMainSearchFilters"))
                    .Sort(sort => sort.Add(i => i.LetName))
                )
    .Selectable()
    .Scrollable()
    .Events(events => events
        .Change("letterSetup.gridDisplayDetail")
        .DataBound("letterSetup.searchGridSelectRow")
        )

    .HtmlAttributes(new { @class = "kendo-Grid" })
)


<style>
  #@gridName tr:hover {
        cursor:pointer;
    }
    #@(gridName) tr.k-state-selected {
        background-color: var(--grid-hover) !important;
    }

    #@(gridName) .k-grid-content {
        min-height: 100px;
        max-height: 450px;
    }

</style>
