@model string
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings

@{ 
    var pageId = Model;
}

<div id="letterContent" class="page-main">
    <div class="sidebar-link"></div>
    <div class="page-message"></div>
    <div class="page-header page-crumbs"></div>
    <div id="@pageId">
        <div class="cpiDataContainer">
        </div>
    </div>
    <div class="cpiContainerPopup"></div>
</div>

<style>
    .open-collapsed-sidebar {
        width: 130px;
    }
</style>