@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer
<div class="tab-content search page-content">
    <div class="tab-pane show active" id="tmkAreaCountryDeleteSearchMainTabContent" aria-labelledby="tmkAreaCountryDeleteSearchMainTab" role="tabpanel">
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Area">@Localizer["Area"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Area", multiSelect = true })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Country">@Localizer["Country"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Country", multiSelect = true })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="SystemName">@Localizer["Systems"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "SystemName", controller = "System", area = "Shared", action = "GetPicklistData", multiSelect = true })
                </div>
            </div>
        </div>
    </div>
</div>
