@model List<R10.Core.Entities.Notification>
@inject IStringLocalizer<SharedResource> Localizer
@{
    var request = ViewContext.HttpContext.Request;
    var baseUrl = $"{request.Scheme}://{request.Host}{request.PathBase}";
}

<div class="page-content alerts">
    @if(!Model.Any())
    {
        <div>@Localizer["There are no new notifications."].ToString()</div>
    }
    @foreach (var item in Model)
    {
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast shadow-none type-@((item?.Type ?? "A").ToLower())" data-autohide="false" data-message-id="@item?.MessageId">
            <div class="toast-header">

                @if (!string.IsNullOrEmpty(item?.NavigateToUrl))
                {
                    <a href="@item.NavigateToUrl" class="mr-auto toast-title">@item?.Title</a>
                }
                else
                {
                    <span class="mr-auto toast-title">@item?.Title</span>
                }
                <small>@item?.DateCreated.FormatToDisplayWithTime()</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                @Html.Raw(@item?.Message)
            </div>
        </div>
    }
</div>
<style>
    .toast {
        max-width: 582px;
        border: 1px solid var(--control-border);
        background-color: var(--bg-main);
    }

        .toast .toast-header {
            background-color: rgba(0, 0, 0, .03);
        }

            .toast .toast-header .toast-title {
                font-weight: bold;
            }

            .toast.type-a .toast-header .toast-title {
                color: var(--bg-danger);
            }
</style>
<script>
    $(document).ready(function () {
        $(".alerts .toast").toast("show").on('hidden.bs.toast', function (e) {
            const baseUrl = $("body").data("base-url");
            const messageId = $(this).data("message-id");
            const url = `${baseUrl}/Account/DismissMessage`;

            $.post(url, { messageId })
                .done(() => {
                    pageHelper.refreshMessageCount();
                })
                .fail((e => {
                    pageHelper.showErrors(e);
                }));
        });
    });
</script>