@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="tmkDesCaseTypeDeleteExtSearchMainTab" href="#tmkDesCaseTypeDeleteExtSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tmkDesCaseTypeDeleteExtSearchMainTabContent" title="@Localizer["DesCaseType Delete Ext"]">@Localizer["DesCaseType Delete Ext"]</a>
</li>
