@inject IStringLocalizer<CountryLawResource> Localizer

<li class="nav-item">
    <a class="nav-link active" data-toggle="tab" id="countryLawSearchMainTab" href="#countryLawSearchMainTabContent" role="tab" aria-controls="countryLawSearchMainTabContent" aria-selected="true">@Localizer["Country Law"]</a>
</li>
<li class="nav-item">
    <a class="nav-link" data-toggle="tab" id="countryLawSearchLawActionsTab" href="#countryLawSearchLawActionsTabContent" role="tab" aria-controls="countryLawSearchLawActionsTabContent" aria-selected="false">@Localizer["Law Actions"]</a>
</li>
<li class="nav-item">
    <a class="nav-link" data-toggle="tab" id="countryLawSearchExpirationsTab" href="#countryLawSearchExpirationsTabContent" role="tab" aria-controls="countryLawSearchExpirationsTabContent" aria-selected="false">@Localizer["Expiration Terms"]</a>
</li>
<li class="nav-item">
    <a class="nav-link" data-toggle="tab" id="countryLawSearchDesCountriesTab" href="#countryLawSearchDesCountriesTabContent" role="tab" aria-controls="countryLawSearchDesCountriesTabContent" aria-selected="false">@Localizer["Designated Countries"]</a>
</li>
