@using Microsoft.Graph;
@inject IStringLocalizer<SharedResource> Localizer
@model List<MailFolder>

<ul class="nav nav-pills cpi-nav-vertical flex-column folders"
    data-unread-count-url=@Url.Action("GetUnreadItemCount")
    data-move-folder-url=@Url.Action("MoveFolder")
    data-move-messages-url=@Url.Action("MoveMessages")
    data-move-folder-confirm="@Localizer["Are you sure you want to move {0} folder to {1}?"]"
    data-move-messages-confirm="@Localizer["Are you sure you want to move {0} message(s) from {1} to {2}?"]">
    @foreach (var folder in Model)
    {
        ViewData["FolderLevel"] = "parent-folder";
        @await Html.PartialAsync("_Folder", folder)
    }
</ul>
<hr />
<ul class="nav nav-pills cpi-nav-vertical flex-column">
    <li class="nav-item">
        <a href="#" class="nav-link settings rules" data-url="@Url.Action("GetRules")" ondragstart="return false;">
            <span class="folder-toggle"></span>
            <span class="fal fa-cog fa-fixed-width"></span>@Localizer["Download Rules"]
        </a>
    </li>
</ul>
<script>
    $(document).ready(function () {
        mailPage.initializeFolders();
    });
</script>