@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="mailSearchMainTab" href="#mailSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="mailSearchMainTabContent" title="@Localizer["Filters"]">@Localizer["Filters"]</a>
</li>