@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="anchorTabSearchTab" href="#anchorTabSearchTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="anchorTabSearchTabContent" title="@Localizer["eSignature Tag"]">@Localizer["eSignature Tag"]</a>
</li>