<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	  <add key="Telerik" value="https://nuget.telerik.com/v3/index.json" />
  </packageSources>
	<packageSourceCredentials>
		<Telerik>
			<add key="Username" value="cpondoc@computerpackages.com" />
			<add key="ClearTextPassword" value="cpidev1" />
		</Telerik>
	</packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="True" />
  </packageManagement>
</configuration>