@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="currencyTypeSearchMainTab" href="#currencyTypeSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="currencyTypeSearchMainTabContent" title="@Localizer["Currency"]">@Localizer["Currency"]</a>
</li>