@inject IStringLocalizer<SharedResource> Localizer
@{
    var pageTitle = @Localizer["Power BI Custom Connector"].ToString();
    ViewData["Title"] = pageTitle;
}
<div class="page page-content powerbi-connector">
    <div class="page-title">@pageTitle</div>
    <div class="form-row">
        <div class="col col-xl-8">
            <p>Integrate your CPI Custom Query data to Power BI Desktop.</p>
            <p>To setup the Power BI custom connector:</p>
            <ol>
                <li>
                    <p>Download the Power BI custom connector file <a href="@Url.Action("Download")">CPIConnector.mez</a>.</p>
                </li>
                <li>
                    <p>Copy the <strong>CPIConnector.mez</strong> file in your local <em>[Documents]\Power BI Desktop\Custom Connectors</em> folder. Create the folder if it does not exist.</p>
                </li>
                <li>
                    <p>Adjust the Power BI Desktop data extension security settings to allow the custom connector to load:</p>
                    <ul>
                        <li>Open Power BI Desktop</li>
                        <li>Go to <strong>File</strong> → <strong>Options and settings</strong> → <strong>Options</strong> → <strong>Security</strong>.</li>
                        <li>Under <strong>Data Extensions</strong>, select <strong>(Not Recommended) Allow any extension to load without validation or warning</strong>.</li>
                        <li>Select <strong>OK</strong>.</li>
                        <li>Restart Power BI Desktop.</li>
                    </ul>
                    <div class="callout">
                        The default Power BI Desktop data extension security setting is <strong>(Recommended) Only allow Microsoft certified and other trusted third-party extensions to load</strong>. With this setting, if there are non-certified custom connectors on your system, the <strong>Uncertified Connectors</strong> dialog box appears at Power BI Desktop startup, listing the connectors that can't securely load.
                    </div>
                </li>
                <li>
                    <p>Login to the connector:</p>
                    <ul>
                        <li>From the Power BI Desktop <strong>Home</strong> menu, Select <strong>Get Data</strong> → <strong>More...</strong></li>
                        <li>Type <strong>CPI</strong> in the search field to find the CPI Custom Query connector.</li>
                        <li>Select <strong>CPI Custom Query</strong> and click <strong>Connect</strong>.</li>
                        <li>Click <strong>Continue</strong> if prompted for <strong>Connecting to a third-party service</strong> warning message.</li>
                        <li>Enter your CPI application web address: <strong>@Url.ApplicationBaseUrl(Context.Request.Scheme)</strong> and click <strong>OK</strong>.</li>
                        <li>Enter your <strong>CPI</strong> <strong>User Id</strong> and <strong>Password</strong> and click <strong>Connect</strong>.</li>
                        <li>Select a <strong>Query Name</strong> to use, then click <strong>Invoke</strong> to run the custom query.</li>
                    </ul>
                    <div class="callout">
                        Login credentials are saved in <strong>File</strong> → <strong>Options and settings</strong> → <strong>Data source settings</strong> so you will not need to enter it every time you use the custom connector.
                        You may select <strong>Clear Permissions</strong> to login with different credentials.
                    </div>
                </li>
            </ol>
            </div>
    </div>
</div>
<style>
    .powerbi-connector a {
        text-decoration: underline;
    }

    .powerbi-connector ul li {
        list-style-type: disc;
    }
</style>
