@inject IStringLocalizer<AdminResource> Localizer

<li class="nav-item">
    <a class="nav-link active" id="menuPageMainInfoTab" data-toggle="tab" href="#menuPageMainInfoTabContent" role="tab" aria-controls="menuPageMainInfoTabContent">@Localizer["Menu Page"]</a>
</li>
