@model PageViewModel
@inject IStringLocalizer<AdminResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var detailsUrl = Url.Action("Detail", new { id = "#: Id#", fromSearch = true });
    var detailsLinkTemplate = $"<a href='{detailsUrl}' class='details-link' data-id='#: Id#'>#: Name#</a>";
}
@(Html.Kendo().Grid<MenuPageListViewModel>
    ()
    .Name($"{Model.PageId}-Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Name).ClientTemplate(detailsLinkTemplate);
        columns.Bound(p => p.Area);
        columns.Bound(p => p.Controller).MinScreenWidth(768);
        columns.Bound(p => p.Action).MinScreenWidth(768);
        columns.Bound(p => p.Policy).MinScreenWidth(576);
    })
    .ToolBar(tools => tools.ClientTemplate(Model.ToolbarTemplate(Url.Action("Add", new { fromSearch = true }), Localizer["Add"], Localizer["Export to Excel"], Localizer["Clear Filters"])))
    .AutoBind(false)
    .Pageable(page => page.PageSizes(settings.SearchResultsPageSizeOptions).Refresh(true))
    .Sortable(sort => sort.AllowUnsort(false))
    //.ColumnMenu()
    .Excel(excel => excel.FileName("MenuPages.xlsx").AllPages(true))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => events.Error($"{ViewBag.ActivePage}.searchResultGridError"))
        .Events(events => events.RequestEnd($"{ViewBag.ActivePage}.searchResultGridRequestEnd"))
        .PageSize(User.GetSearchResultsPageSize(settings.SearchResultsPageSize))
        .Read(read => read.Action("PageRead", "MenuPage")
            .Data($"{ViewBag.ActivePage}.gridMainSearchFilters"))
        .Sort(sort => sort.Add(p => p.Name))
      )
      .HtmlAttributes(new { @class = "kendo-Grid" })
    )

    <script>
        $(document).ready(function () {
            //$(".kendo-Grid .k-grid-toolbar").addClass("sidebar-link show");
            $(".kendo-Grid .k-grid-toolbar").addClass("show");
        });
    </script>