@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="standardGoodSearchMainTab" href="#standardGoodSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="standardGoodSearchMainTabContent" title="@Localizer["Standard Good"]">@Localizer["Standard Good"]</a>
</li>
