@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="tmkDesCaseTypeFieldsDeleteExtSearchMainTab" href="#tmkDesCaseTypeFieldsDeleteExtSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tmkDesCaseTypeFieldsDeleteExtSearchMainTabContent" title="@Localizer["DesCaseTypeFields Delete Ext"]">@Localizer["DesCaseTypeFields Delete Ext"]</a>
</li>
