@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="deDocketInstrxSearchMainTab" href="#deDocketInstrxSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="deDocketInstrxSearchMainTabContent" title="@Localizer["Instruction"]">@Localizer["Instruction"]</a>
</li>