@model DocumentDisplayOption?
@inject IStringLocalizer<SharedResource> Localizer
@{
    var pageId = ViewData["PageId"];
    var elId = $"DocumentDisplayOption_{pageId}";
    var displayOptions = new List<DocumentDisplayOptionListItem>();
    foreach (DocumentDisplayOption option in Enum.GetValues(typeof(DocumentDisplayOption)))
    {
        displayOptions.Add(new DocumentDisplayOptionListItem() { Icon = option.GetDisplayName(), Text = Localizer[option.GetDisplayDescription()], Value = option });
    }
    var defaultOption = Model ?? DocumentDisplayOption.GridView;
}
@(Html.Kendo().DropDownList()
    .Name("DocumentDisplayOption")
    .DataTextField("Text")
    .DataValueField("Value")
    .ValueTemplate("<i class='#= data.Icon #'></i><span class='pl-2'> #= data.Text #</span>")
    .Template("<i class='#= data.Icon #'></i><span class='pl-2'> #= data.Text #</span>")
    .BindTo(displayOptions)
    .Value(((int)defaultOption).ToString())
    .HtmlAttributes(new { id = elId })
    .AutoWidth(true)
)