@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="tmkDesCaseTypeDeleteSearchMainTab" href="#tmkDesCaseTypeDeleteSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tmkDesCaseTypeDeleteSearchMainTabContent" title="@Localizer["DesCaseType Delete"]">@Localizer["DesCaseType Delete"]</a>
</li>
