@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="emailTemplateSearchTab" href="#emailTemplateSearchTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="emailTemplateSearchTabContent" title="@Localizer["Notification Template"]">@Localizer["Notification Template"]</a>
</li>