@model string
@inject IStringLocalizer<SharedResource> Localizer

@{
    var id = ViewData["id"]?.ToString() ?? "AreaDropdown";
    var area = ViewData["area"]?.ToString() ?? "";

    var linkUrl = Url.Action("DetailLink", "Area", new
    {
        Area = area,
        id = "actualValue"
    });

    var headerTemplate = "<div class='row border-bottom'><div class='col-md-2 mt-2 mb-2'><span>&nbsp;&nbsp;" + Localizer["Area"] + "</span></div><div class='col-md-5 mt-2 mb-2'><span>" + Localizer["Description"] + "</span></div></div>";
    var template = "<div class='row'><div class='col-md-2'><span>#: data.Area #</span></div><div class='col-md-5'><span>#: data.Description #</span></div></div>";
}

@(Html.Kendo().DropDownListFor(m => m)
                .DataTextField("Area")
                .DataValueField("Area")
                .AutoBind(true)
                .AutoWidth(true)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetAreaList", "Area", new { area = area, property = "Area" });
                    })
                    .ServerFiltering(true);
                })
                .Template(template)
                .HeaderTemplate(headerTemplate)
                .HtmlAttributes(new { style = "width: 80%", id = @id })

)

<button type="button" class="btn">
    <i class="fal fa-search-plus btn-link cpiDetailsLink" id="@id" data-source="@id" data-url="@linkUrl"></i>
</button>





