@model String
@{ 
    var linkUrl = Url.Action("DetailLink", "IDSReferenceSource", new
    {
        Area = "Patent",
        id = "actualValue"
    });
}
@(Html.Kendo().ComboBoxFor(m => m)
    .AutoBind(false)
    .DataTextField("ReferenceSrc")
    .DataValueField("ReferenceSrc")
    .ValuePrimitive(true)
    .DataSource(source =>
    {
        source.Read(read => read.Action("GetIDSReferenceSourceList", "IDSReferenceSource", new { area = "Patent", property = "ReferenceSrc" }));
    })

    .Template("<span class='k-state-default'>#: ReferenceSrc #</span>")
.HtmlAttributes(new { style = "width: 80%" })

)
<button type="button" class="btn">
    <i class="fal fa-search-plus btn-link referenceSrcButtonLink" style="display:block !important" data-url="@linkUrl"></i>
</button>
