@model LetterMainDetailViewModel

@{
    var systemType = ViewData["SystemType"];
    var systemCriteria = $"{{systemType: '{systemType}'}}";
}

<style>
    div.k-edit-form-container {
        width: 700px;
        height: auto;
    }
</style>

<hr/>

<div id="letterEditorContainer" class="px-4">
    <br />
    <input type="hidden" asp-for="LetId" />
    <input type="hidden" asp-for="tStamp" />


    <fieldset class="cpiMainEntry">
        <div class="row form-group">
            <div class="col-sm-3  text-sm-right">
                <label asp-for="LetName"></label>
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control form-control-sm" asp-for="LetName" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3 text-sm-right">
                <label asp-for="ScreenId"></label>
            </div>
            <div class="col-sm-4">
                @(Html.Kendo().DropDownListFor(l => l.ScreenId)
                                              .DataValueField("ScreenId")
                                              .DataTextField("ScreenName")
                                              .AutoBind(true)
                                              .DataSource(source =>
                                              {
                                                  source.Read(read => read.Action("GetScreenBySystem", "SystemScreen", new { Area = "Shared", featureType = "Let",  systemType = @systemType }));
                                              })
                                              .Template("<span class='k-state-default'>#: data.ScreenName #</span>")
                                              .HtmlAttributes(new { style = "width: 100%" })
                )
                <span asp-validation-for="ScreenId"></span>
            </div>

        </div>
        <div class="row form-group">
            <div class="col-sm-3 text-md-right">
                <label asp-for="LetCatId"></label>
            </div>
            <div class="col-sm-4">
                @(Html.Kendo().DropDownListFor(l => l.LetCatId)
                                              .DataValueField("LetCatId")
                                              .DataTextField("LetCatDesc")
                                              .AutoBind(true)
                                              .DataSource(source =>
                                              {
                                                  source.Read(read => read.Action("GetCategoryList", "LetterCategory", new { Area = "Shared", systemType = @systemType }));
                                              })
                                              .Template("<span class='k-state-default'>#: data.LetCatDesc #</span>")
                                              .HtmlAttributes(new { style = "width: 100%" })

                )
                <span asp-validation-for="LetCatId"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3  text-sm-right">
                <label asp-for="TemplateFile"></label>
            </div>
            <div class="col-sm-7">
                @(Html.Kendo().DropDownListFor(l => l.TemplateFile)
                                              .DataValueField("TemplateFile")
                                              .DataTextField("TemplateFile")
                                              .AutoBind(false)
                                              .DataSource(source =>
                                              {
                                                  source.Read(read => read.Action("GetTemplatesList", "LetterTemplate", new { Area = "Shared", systemType = @systemType }));
                                              })

                                              .HtmlAttributes(new { style = "width: 100%" })

                )
                <span asp-validation-for="TemplateFile"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3  text-sm-right">
                <label asp-for="HasImage"></label>
            </div>
            <div class="col-sm-2  form-inline">
                <input class="form-check-input" type="checkbox" name="HasImage" asp-for="HasImage" id="HasImage">

            </div>

        </div>
        
        <div class="row form-group">
            <div class="col-sm-3  text-sm-right">
                <label asp-for="Remarks"></label>
            </div>
            <div class="col-sm-7">
                <textarea class="form-control form-control-sm" rows="3" asp-for="Remarks"></textarea>
            </div>
        </div>
    </fieldset>
    
</div>

