@model PatInventor
@{
    var id = ViewData["id"].ToString();

    var area = ViewData["Area"] != null ? ViewData["Area"].ToString() : "Patent";

    bool showLinkBtn = area != "DMS" && area != "PatClearance";

    var controller = ViewData["Controller"] != null ? ViewData["Controller"].ToString() : "Inventor";

    var linkUrl = Url.Action("DetailLink", controller, new
    {
        Area = area,
        id = "actualValue"
    });
}
@(Html.Kendo().ComboBoxFor(m => m)
                                    .DataTextField("Inventor")
                                    .DataValueField("InventorID")
                                    .AutoBind(false)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetInventorList", controller, new { area = area, property = "Inventor" });
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Filter(FilterType.Contains)
                                    .Template("<span class='k-state-default'>#: data.Inventor #</span>")
                                    .Events(e => e.Filtering("function(e) {pageHelper.comboBoxFiltering(e,this,'Inventor');}"))
                                    .HtmlAttributes(new { style = "width: 90%", id = @id })

)
@if (showLinkBtn)
{
    <button type="button" class="btn">
        <i class="fal fa-search-plus btn-link cpiButtonLink" style="display:block !important" data-source="@id" data-url="@linkUrl"></i>
    </button>
}

