@model String
@(Html.Kendo().ComboBoxFor(m => m)
                        .AutoBind(false)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetPicklistData", "PatKeyword", new { area = "Patent", property = "Keyword" });
                            })
                            .ServerFiltering(true);
                        })
                        .Filter(FilterType.Contains)
                        .Template("<span class='k-state-default'>#: data #</span>")
                        .HtmlAttributes(new { style = "width: 100%" })

)
