@model CPiUser
@{
    //var id = ViewData["id"].ToString();
    //var linkUrl = Url.Action("DetailLink", "Reviewer", new
    //{
    //    Area = "Patent",
    //    userId = "actualValue"
    //});
}
@(Html.Kendo().ComboBoxFor(m => m)
                .DataTextField("ReviewerName")
                .DataValueField("ReviewerId")
                .AutoBind(false)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetReviewerList", "ClientReviewer", new { area = "Shared", property = "ReviewerName" });
                    })
                    .ServerFiltering(true);
                })
                .Filter(FilterType.Contains)
                //.Template("<span class='k-state-default'>#: data.FullName #</span>")
                .HtmlAttributes(new { style = "width: 100%" })
    //.HtmlAttributes(new { style = "width: 80%", id = @id })

)
@*<button type="button" class="btn btn-link">
        <i class="fas fa-search cpiButtonLink" data-source="@id" data-url="@linkUrl"></i>
    </button>*@
