@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="formIFWActionMapSearchMainTab" href="#formIFWActionMapSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="formIFWActionMapSearchMainTabContent" title="@Localizer["IFW Action Mapping"]">@Localizer["IFW Action Mapping"]</a>
</li>