@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="tmkCountrySearchMainTab" href="#tmkCountrySearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tmkCountrySearchMainTabContent" title="@Localizer["Trademark Country"]">@Localizer["Trademark Country"]</a>
</li>