@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="actionTypeSearchTab" href="#actionTypeSearchTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="actionTypeSearchTabContent" title="@Localizer["Patent Action Type"]">@Localizer["Patent Action Type"]</a>
</li>