@model ChildViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings

@{
    var settings = await Settings.GetSetting();
    int id = Model.Id;
    bool addMode = id == 0;
    var noRecord = id < 0;

    var detailPagePermission = Model.Permission; //(DetailPagePermission)ViewData["PagePermission"];
    bool fullModify = detailPagePermission.CanEditRecord && !noRecord;        // no edit remarks only for letters
    var systemType = ViewData["SystemType"].ToString();
}

<div id="customFieldGridContainer" data-filter-mapper-url="@Url.Action("DataValueMapper", "LetterFilter")">
    @(Html.Kendo().Grid<LetterCustomFieldViewModel>()
        .Name("customFieldGrid")
        .Columns(column =>
        {
            column.Bound(cf => cf.CFId).Hidden();
            column.Bound(cf => cf.DataSourceId).Hidden();
            column.Bound(cf => cf.FieldName)
            .EditorTemplateName("ComboBox")
            .EditorViewData(new
            {
                action = "GetFilterFieldsList",
                controller = "LetterCustomField",
                area = "Shared",
                dataValueField = "ColumnName",
                dataTextField = "ColumnName",
                readData = $"{{dataSourceId: {id}}}",
                template = "<span class='k-state-default'>#: data.ColumnName #</span>",
                limitToList = true,
                onSelect = "function(e) {letterDataSourceSetup.onFieldNameComboBoxSelect(e);}"
            })
            .Width(90)
            .Editable("letterDataSourceSetup.isGridColumnEditable")
            .HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);
            column.Bound(cf => cf.Condition).EditorTemplateName("LetterCustomFieldOperators").Width(50);
            column.Bound(cf => cf.Value).Width(90);
            column.Bound(cf => cf.Period).EditorTemplateName("LetterCustomFieldPeriods").Width(90);
            column.Bound(cf => cf.CustomFieldName).Width(90);
            column.Bound(cf => cf.FieldSource).Hidden();
            column.Bound(cf => cf.CustomFieldSettingId).Hidden();
            column.Command(command =>
            {
                if (detailPagePermission.CanDeleteRecord)
                    command.Custom("Delete")
                .Click("function(e) {letterDataSourceSetup.deleteGridRow(e,this)}")
                .IconClass("k-icon fal fa-trash-alt")
                .Text($"<span class='grid-action-label'>{Localizer["Delete"]}</span>")
                .HtmlAttributes(new { @class = "grid-action" });
            }).Width(100);
        })
        .AutoBind(false)
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .ToolBar(toolbar =>
        {
            if (detailPagePermission.CanAddRecord)
            {
                toolbar.Create().IconClass("k-icon fal fa-plus").Text(Localizer["Add"]).HtmlAttributes(new { @class = "grid-action" });
            }
            if (detailPagePermission.CanEditRecord && !detailPagePermission.CanEditRemarksOnly)
            {
                toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(Localizer["Save"]).HtmlAttributes(new { @class = "d-none" });
                toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(Localizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });
            }
        })
        .Editable(editable => editable
        .Enabled(fullModify)
        .Mode(GridEditMode.InCell)
        .ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false)
        )
        .Pageable(page => page.PageSizes(true).Refresh(true))
        .Scrollable()
        .Sortable(sortable => sortable.SortMode(GridSortMode.SingleColumn).ShowIndexes(true))
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(settings.SubFormPageSize)
        .ServerOperation(false) //allow pending changes to persist when paging or sorting
        .Model(model =>
        {
            model.Id(cf => cf.CFId);
        })
        .Read(read => read.Action("GridRead", "LetterCustomField", new { parentId = id, sys = systemType }))
        .Update(update => update.Action("GridUpdate", "LetterCustomField", new { parentId = id, sys = systemType }))
        .Destroy(update => update.Action("GridDelete", "LetterCustomField", new { sys = systemType }))
        .Events(events =>
        {
            events.Error("pageHelper.onGridError");
        })
        .Sort(sort => sort.Add(cf => cf.FieldName))
        )
        .HtmlAttributes(new { @class = "k-grid-border" })
        )
</div>