@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a class="nav-link active" id="recentViewedSearchCaseInfoTab" data-toggle="tab" href="#recentViewedSearchCaseInfoTabContent" role="tab" aria-controls="recentViewedSearchCaseInfoTabContent">@Localizer["Main Criteria"]</a>
</li>