@model GridOptions
@inject IStringLocalizer<SharedResource> Localizer
@{
    var actionColumnDetailTemplate = "<span>#: SearchAction#</span><br><span>#: TMSAction#</span>";
    //var pageName = ViewBag.ActivePage;
}
<div class="row">
    <div class="col-3 mx-auto">
        <div class="form-group float-label">
            <label>@Localizer["Display"]</label>
            @(Html.Kendo().DropDownList()
                  .Name("ActionDisplayOption")
                  .DataTextField("Text")
                  .DataValueField("Value")
                  .BindTo(new List<SelectListItem>()
                  {
                  new SelectListItem()
                  {
                      Text = Localizer["Trademark Office Actions (as downloaded)"],
                      Value = "0"
                  },
                  new SelectListItem()
                  {
                      Text = Localizer["Trademark Office Actions (as matched)"],
                      Value = "1"
                  }
                  })
                  .Value("0")
                  .Events(events => events.Select($"function(e) {{tmkTrademarkPage.tlActionDisplaySelect(e, '{Model.ParentScreen}')}}"))
                  .HtmlAttributes(new { style = "width: 100%", id = $"tlPublicDataTabAction_ActionDisplayOption_{Model.ParentScreen}" })
            )
        </div>
    </div>
</div>
<div class="col-md-12">
    @(Html.Kendo().Grid<TLSearchActionAsDownloadedDTO>().Name($"tlActionAsDownloadedGrid_{Model.ParentScreen}")
                      .Columns(columns =>
                      {
                          columns.Bound(a => a.SearchAction);
                          columns.Bound(a => a.BaseDate).Format("{0:dd-MMM-yyyy}");

                      })
        .Pageable(page => page.Responsive(false))
                      .Sortable(sort => sort.AllowUnsort(false))
                      .AutoBind(true)
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .Read(create => create.Action("GetActionsAsDownloadedData", "TLInfo", new { Area = "Trademark", tlTmkId = Model.ParentId })) //.Data($"tmkTrademarkPage.tlGetIdParams")
                          .ServerOperation(false)
                          .Events(events =>
                          {
                              events.Error("pageHelper.onGridError");

                          })
                      )
                      .HtmlAttributes(new { @class = "kendo-Grid" })
        )
</div>
<div class="col-md-12">
    @(Html.Kendo().Grid<TLSearchActionAsDownloadedDTO>().Name($"tlActionAsMatchedGrid_{Model.ParentScreen}")
                      .Columns(columns =>
                      {
                          columns.Bound(a => a.SearchAction).ClientTemplate(actionColumnDetailTemplate);
                          columns.Bound(a => a.BaseDate).Format("{0:dd-MMM-yyyy}");
                          columns.Bound(a => a.DueDate).Format("{0:dd-MMM-yyyy}");
                          columns.Bound(a => a.DateCompleted).Format("{0:dd-MMM-yyyy}");
                      })
        .Pageable(page => page.Responsive(false))
                      .Sortable(sort => sort.AllowUnsort(false))
                      .AutoBind(false)
                      .DataSource(dataSource => dataSource
                          .Ajax()
                          .Read(create => create.Action("GetActionsAsMatchedData", "TLInfo", new { Area = "Trademark", tlTmkId = Model.ParentId })) //.Data($"tmkTrademarkPage.tlGetIdParams")
                          .ServerOperation(false)
                          .Events(events =>
                          {
                              events.Error("pageHelper.onGridError");
                          })
                      )
                      .HtmlAttributes(new { @class = "kendo-Grid", @style="display:none"})
        )
</div>
