@model List<GSSystemScreen>
@inject IStringLocalizer<SharedResource> Localizer

<div class="page-sidebar refine-search" data-show-filters="@Localizer["Show System Criteria"]" style="height:100%">
    <div class="header">
        <nav class="nav-right">
            <a href="#" class="nav-link show-results" title="@Localizer["Show results"]" role="button">@Localizer["Show results"]<span class="total-results-count"></span><i class="fal fa-long-arrow-right pl-1"></i></a>
        </nav>
        
    </div>
    @await Html.PartialAsync("_CriteriaSystem", Model)

</div>
