@inject IStringLocalizer<SharedResource> Localizer

<div>
    @(Html.Kendo().Grid<GSDataCriteriaViewModel>()
            .Name("gridDataFilter")
            .Columns(columns =>
            {
                //columns.Bound(f => f.LogicalOperator)
                //    .Title(" ")
                //    .EditorTemplateName("GSLogicalOperators").Width(150);
                //columns.Bound(f => f.LeftParen).Width(50);
                columns.Bound(f => f.Field)
                    .ClientTemplate("#=kendo.htmlEncode(Field.FieldLabel)#")
                    .HtmlAttributes(new { @class = "editable-cell" });
                columns.Bound(f => f.Criteria).HtmlAttributes(new { @class = "editable-cell" });
                //columns.Bound(f => f.RightParen).Width(50);
                columns.Command(command =>
                {
                    command.Custom("Delete").IconClass("k-icon fal fa-trash-alt").Text(" ").Click("globalSearch.deleteFilterRow");
                }).Width(70);
            })
            .AutoBind(false)
            .ToolBar(toolbar =>
            {
                toolbar.ClientTemplateId("gridToolbarTemplate");
            })
            .Editable(editable => editable.Enabled(true).Mode(GridEditMode.InCell).ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
            .Navigatable()
            .Scrollable()
            .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .ServerOperation(true)
                .Model(model => {
                    model.Id(f => f.FieldId);
                    model.Field(f => f.Field).DefaultValue(new GSFieldListViewModel { FieldLabel = "" });
                })
                .Read(read => read.Action("GridDataFilterRead", "GlobalSearch"))
            )
        //.HtmlAttributes(new { @class = "kendo-Grid" })
        )

    <div class="col qry-str d-none" style="padding-right: 0px !important; padding-left: 0px !important;">
        <div class="form-group float-label">
            <label>@Localizer["Query String"]</label>
            @* <input type="textarea" id="global-search-qry-str" class="form-control form-control-sm" /> *@
            <textarea rows="1" class="form-control form-control-sm" id="global-search-qry-str"></textarea>
        </div>        
    </div>
</div>