@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
}


<div id="globalSearchResultContainer" class="page-main">
    <div class="p-2">
        <span><b>@Localizer["Search Results"]</b></span>
    </div>
    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal flush-left" id="globalSearchTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="globalSearchDataTab" data-toggle="tab" href="#globalSearchDataTabContent" role="tab" aria-controls="globalSearchDataTabContent">@Localizer["Your Data"]</a>
        </li>
        @if (settings.IsCognitiveSearchOn)
        {
            <li class="nav-item">
                <a class="nav-link" id="globalSearchDocTab" data-toggle="tab" href="#globalSearchDocTabContent" role="tab" aria-controls="globalSearchDocTabContent">@Localizer["Documents"]</a>
            </li>
        }
    </ul>


    <div class="tab-content search">
        <div class="tab-pane show active" id="globalSearchDataTabContent" aria-labelledby="globalSearchDataTab" role="tabpanel">
            @await Html.PartialAsync("_SearchResultData")
        </div>
        @if (settings.IsCognitiveSearchOn)
        {
            <div class="tab-pane show" id="globalSearchDocTabContent" aria-labelledby="globalSearchDocTab" role="tabpanel">
                @await Html.PartialAsync("_SearchResultDoc")
            </div>
        }
    </div>
</div>
