@inject ISystemSettings<DefaultSetting> Settings
@inject IStringLocalizer<SharedResource> Localizer
@{
    var settings = await Settings.GetSetting();
    var rowTemplate = $"<tr class='item'><td>" +
            "<div class='row'><div class='col'>" +
                "<span class='badge badge-pill badge-warning #=SystemName#' title='New'>#=SystemName#</span>" +
                "<a href=\"javascript: globalSearch.redirectToRecord('#:Link#')\"> #=ScreenName#</a> " +
             "</div></div>" +
            "<span>#=FieldValues#</span>" +
        "</td></tr>";

    var altRowTemplate = rowTemplate.Replace("class='item'", "class='k-alt item'");

    var excelTitle = Localizer["Your Data Search Results"];

}


<div>
    @(Html.Kendo().Grid<GSSearchDTO>()
        .Name("globalSearchResultGridData")
        .Columns(column =>
        {
            column.Bound(gs => gs.SystemName).ClientTemplate(@rowTemplate).Title(Localizer["Your Data Results"]);
        })
        .ClientRowTemplate(rowTemplate)
        .ClientAltRowTemplate(altRowTemplate)
        .AutoBind(false)
        .ToolBar(toolbar =>
        {
            toolbar.ClientTemplateId("globalSearchDataToolbar");
        })
        .Pageable(pageable => pageable
                .Refresh(false)
                .ButtonCount(5)
                .PageSizes(settings.SearchResultsPageSizeOptions)
            )
        .Scrollable(s => s.Height("auto"))
        .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)
            .Read(read => read.Action("SearchReadData", "GlobalSearch").Data("globalSearch.getSearchCriteriaData"))
            .Events(events => { events.Error("function(e) { pageHelper.onGridError(e); globalSearch.hideSpinner(); }"); })
        )
        .Events(events => events.DataBound("globalSearch.hideSpinner"))
    //.HtmlAttributes(new { @class = "kendo-Grid" })
    )
</div>

<script id="globalSearchDataToolbar" type="text/x-kendo-template">
    <div class="toolbar">
        <a role='button' class='k-button k-button-icontext k-grid-ExportData' href='\\#'><span class='k-icon fal fa-file-excel'></span>@Localizer["Export to Excel"]</a>
    </div>
</script>

<style>
    mark {
        background-color: yellow;
        padding: 0;
    }

    .badge.Patent {
        background: #51a0ed;
        color: #fff;
        display: none;
    }

    .badge.Trademark {
        background: #008000;
        color: #fff;
        display: none;
    }

    .badge.General.Matters {
        background: #D0ECBB;
        color: #fff;
        display: none;
    }

    .badge.Disclosure.Management {
        background: #969b9f;
        color: #fff;
        display: none;
    }

    .badge.Shared.Auxiliary {
        background: #D0ECBB;
        color: #fff;
        display: none;
    }

    #globalSearchResultGridData table {
        width: 100%;
        table-layout: fixed;
        font-size: .8rem;
    }

    .k-grid-header .k-header {
        padding: 10px 20px;
    }

    .k-grid .k-alt td {
        background-color: var(--grid-alt-row);
    }

    #globalSearchResultGridData td, #globalSearchResultGridData th, .item td {
        overflow: hidden;
        text-overflow: ellipsis;
        border-spacing: 1px;
        padding: .5em .6em .4em .6em;
        font-size: .8rem;
        text-align: left;
        outline: 0;
    }

    #printUpdateLink {
        font-size: .9rem;
        padding: 0px 7px;
        margin: 0 0.16em;
    }
</style>


<script>
    $(document).ready(function () {
        globalSearch.initializeSearchDataResult("@excelTitle");
    });

</script>
