@inject IStringLocalizer<QuickEmailResource> Localizer

<li class="nav-item">
    <a id="qeSetupSearchMainTab" href="#qeSetupSearchMainTabContent" class="nav-link active"
       data-toggle="tab" role="tab" aria-controls="qeSetupSearchMainTabContent"
       title="@Localizer["Quick Email Setup"]">@Localizer["Quick Email Setup"]</a>
</li>


