@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="desCaseTypeFieldsExtSearchMainTab" href="#desCaseTypeFieldsExtSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="desCaseTypeFieldsExtSearchMainTabContent" title="@Localizer["Des Case Type Fields Ext"]">@Localizer["Des Case Type Fields Ext"]</a>
</li>
