@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="patDesCaseTypeFieldsExtSearchMainTab" href="#patDesCaseTypeFieldsExtSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patDesCaseTypeFieldsExtSearchMainTabContent" title="@Localizer["DesCaseTypeFields Ext"]">@Localizer["DesCaseTypeFields Ext"]</a>
</li>
