@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="tmkDesCaseTypeFieldsDeleteSearchMainTab" href="#tmkDesCaseTypeFieldsDeleteSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tmkDesCaseTypeFieldsDeleteSearchMainTabContent" title="@Localizer["DesCaseTypeFields Delete"]">@Localizer["DesCaseTypeFields Delete"]</a>
</li>
