@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="productCategorySearchMainTab" href="#productCategorySearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="productCategorySearchMainTabContent" title="@Localizer["Product Category"]">@Localizer["Product Category"]</a>
</li>