@model CountryDueCopyViewModel
@inject IStringLocalizer<SharedResource> Localizer

<div class="modal fade" id="patCountryDueCopyDialog" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-action="EditCopied">
                <div class="modal-header py-1">
                    <h4 class="modal-title">@Localizer["Copy Country Due"]</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-0">
                    <div class="container-fluid">
                        <input type="hidden" asp-for="CDueId" />
                        <div class="row">
                            <div class="col-md-6 px-0">
                                <div class="form-group float-label">
                                    <label asp-for="Country" class="required"></label>
                                    <input asp-for="Country" class="form-control form-control-sm" />
                                    <span asp-validation-for="Country"></span>
                                </div>
                            </div>
                            <div class="col-md-6 px-0">
                                <div class="form-group float-label">
                                    <label asp-for="CaseType" class="required"></label>
                                    <input asp-for="CaseType" class="form-control form-control-sm" />
                                    <span asp-validation-for="CaseType"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 px-0">
                                <div class="form-group float-label">
                                    <label asp-for="ActionType"></label>
                                    <input asp-for="ActionType" class="form-control form-control-sm" />
                                    <span asp-validation-for="ActionType"></span>
                                </div>
                            </div>
                            <div class="col-md-6 px-0">
                                <div class="form-group float-label">
                                    <label asp-for="ActionDue"></label>
                                    <input asp-for="ActionDue" class="form-control form-control-sm" />
                                    <span asp-validation-for="ActionDue"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 px-0">
                                <div class="form-group float-label">
                                    <label asp-for="BasedOn"></label>
                                    <input asp-for="BasedOn" class="form-control form-control-sm" />
                                    <span asp-validation-for="BasedOn"></span>
                                </div>
                            </div>
                            <div class="col-md-6 px-0">
                                <div class="form-group float-label">
                                    <label asp-for="Indicator"></label>
                                    <input asp-for="Indicator" class="form-control form-control-sm" />
                                    <span asp-validation-for="Indicator"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 px-0">
                                <div class="form-group float-label">
                                    <label asp-for="Yr"></label>
                                    <input asp-for="Yr" type="number" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="col-md-4 px-0">
                                <div class="form-group float-label">
                                    <label asp-for="Mo"></label>
                                    <input asp-for="Mo" type="number" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="col-md-4 px-0">
                                <div class="form-group float-label">
                                    <label asp-for="Dy"></label>
                                    <input asp-for="Dy" type="number" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 px-0">
                                <div class="form-group float-label">
                                    <label asp-for="Recurring"></label>
                                    <input asp-for="Recurring" type="number" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="col-md-4 px-0">
                                <div class="form-group float-label">
                                    <label asp-for="EffBasedOn"></label>
                                    <input asp-for="EffBasedOn" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 px-0">
                                <div class="form-group float-label">
                                    <label asp-for="EffStartDate"></label>
                                    <input asp-for="EffStartDate" type="date" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="col-md-6 px-0">
                                <div class="form-group float-label">
                                    <label asp-for="EffEndDate"></label>
                                    <input asp-for="EffEndDate" type="date" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check pr-2"></i>@Localizer["Copy"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        patCountryDuePage.showCopyScreen();
    });
</script>
