@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="tmkAreaCountryDeleteSearchMainTab" href="#tmkAreaCountryDeleteSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tmkAreaCountryDeleteSearchMainTabContent" title="@Localizer["AreaCountry Delete"]">@Localizer["AreaCountry Delete"]</a>
</li>
