@model GridOptions
@using R10.Core.Entities.Documents;
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var fullModify = true;
    var pageName = ViewBag.ActivePage;
    var id = Model.ParentId;
    var tagLabel = Localizer["Tags"];

    IDictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("maxlength", "50");
}


@(Html.Kendo().Grid<DocDocumentTag>()
                 .Name("imageTagsGrid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.Tag).Title(tagLabel)
                            .EditorTemplateName("ComboBox")
                            .EditorViewData(new { action = "GetDocumentTags", controller = Model.Controller, area = Model.Area, limitToList = false, dataValueField = "", htmlAttributes = htmlAttributes })
                            .HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);

                    columns.Command(command =>
                    {
                        if (fullModify)
                            command.Custom("Delete")
                                    .Click("function(e) {deleteImageTag(e,this);}")
                                    .IconClass("k-icon fal fa-trash-alt")
                                    .Text($"<span class='grid-action-label'>{Localizer["Delete"]}</span>")
                                    .HtmlAttributes(new { @class = "grid-action" });

                    }).Width(10);
                })
                .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                .ToolBar(toolbar =>
                {
                    if (fullModify)
                    {
                        toolbar.Create().IconClass("k-icon fal fa-plus").Text(Localizer["Add"]).HtmlAttributes(new { @class = "grid-action" });
                    }
                    if (fullModify)
                    {
                        toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(Localizer["Save"]).HtmlAttributes(new { @class = "d-none" });
                        toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(Localizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });
                    }

                })
                .Editable(editable => editable.Enabled(fullModify)
                                .Mode(GridEditMode.InCell).
                                ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
                .Sortable(sort => sort.AllowUnsort(false))
                .Pageable(page => page.Responsive(false))
                .AutoBind(true)
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Batch(true)
                    .PageSize(settings.SubFormPageSize)
                    .ServerOperation(false) //allow pending changes to persist when paging or sorting
                    .Model(model =>
                    {
                        model.Id(k => k.DocTagId);
                    })
                    .Read(read => read.Action("DocumentTagsRead", Model.Controller, new { Area = Model.Area, docId = id }))
                    .Sort(sort => sort.Add("Tag").Ascending())
                    .Update(update => update.Action("DocumentTagsUpdate", Model.Controller, new { Area = Model.Area }))
                    .Destroy(destroy => destroy.Action("DocumentTagDelete", Model.Controller, new { Area = Model.Area }))
                    .Events(events =>
                    {
                        events.Error("pageHelper.onGridError");
                    })
                )
                .HtmlAttributes(new { @class = "kendo-Grid" })
)

<script>
    $(document).ready(() => {
        const grid = $("#imageTagsGrid");
        const kendoGrid = grid.data("kendoGrid");

        kendoGrid.bind("edit", function (e) {
            grid.find(".k-grid-Save").removeClass("d-none");
            grid.find(".k-grid-Cancel").removeClass("d-none");
            $("#documentEditorForm").find("#save").addClass("d-none");
        });

        grid.on("click", ".k-grid-Save", () => {
            cpiLoadingSpinner.show();
            const parameterMap = kendoGrid.dataSource.transport.parameterMap;

            const changes = pageHelper.kendoGridGetChanges(kendoGrid);
            const data = {};
            $.extend(data,
                { parentId: @Model.ParentId},
                parameterMap({ updated: changes.updatedRecords }),
                parameterMap({ deleted: changes.deletedRecords }),
                parameterMap({ new: changes.newRecords }));

            $.ajax({
                url: kendoGrid.dataSource.transport.options.update.url,
                data: data,
                type: "POST",
                success: function (result) {
                    cpiLoadingSpinner.hide();
                    imageTagsGridReady();
                },
                error: function (e) {
                    cpiLoadingSpinner.hide();
                    pageHelper.showErrors(e);
                }
            });

        });

        grid.on("click", ".k-grid-Cancel", () => {
            imageTagsGridReady();
        });

        function imageTagsGridReady() {
            $("#documentEditorForm").find("#save").removeClass("d-none");

            grid.find(".k-grid-Save").addClass("d-none");
            grid.find(".k-grid-Cancel").addClass("d-none");
            kendoGrid.dataSource.read();
        }

    });

    function deleteImageTag(e, grid) {
        e.preventDefault();
        //const grid = $("#" + e.delegateTarget.id).data("kendoGrid");

        const deletePrompt = grid.options.editable.confirmDelete;
        cpiConfirm.delete("", deletePrompt, function () {
            const dataItem = grid.dataItem($(e.currentTarget).closest("tr"));

            if (dataItem.id === 0) {
                grid.removeRow($(e.currentTarget).closest("tr"));
                grid.dataSource._destroyed = [];
            }
            else {
                cpiLoadingSpinner.show();
                $.ajax({
                    url: grid.dataSource.transport.options.destroy.url,
                    data: { deleted: pageHelper.getDataItemValues(dataItem) },
                    type: "POST",
                    success: function (result) {
                        cpiLoadingSpinner.hide();
                        pageHelper.showSuccess(result.success);

                        grid.removeRow($(e.currentTarget).closest("tr"));
                        grid.dataSource._destroyed = [];
                    },
                    error: function (e) {
                        cpiLoadingSpinner.hide();
                        pageHelper.showErrors(e);
                    }
                });
            }
        });
    }
</script>