@model WidgetViewModel
@using R10.Web.Models.DashboardViewModels
@inject IStringLocalizer<SharedResource> Localizer
@{
    var viewName = $"{Model.ViewName}.cshtml";
}
@if (Model.Id != 0)
{
    @if (Model.ViewMode == 2)
    {
        <script>
            $("#@Model.Id.ToString()").addClass("double-width");
        </script>
    }
    @if (Model.RowSpan == 2)
    {
        <script>
            $("#@Model.Id.ToString()").addClass("double-row");
        </script>
    }
    <div class="widget-header">
        <div class="row">
            <div class="col">
                <span class="widget-title">@Model.Title</span>
                <span class="widget-actions">
                    <i class="remove fal fa-times" title=@Localizer["Remove"]></i>
                </span>
            </div>            
        </div>              
    </div>
    <div class="widget-content" data-id="@Model.Id" @(Model.NextId == 0 ? "" : $"data-next-id={Model.NextId}")>
        @await Html.PartialAsync(viewName, Model.Data, new ViewDataDictionary(this.ViewData) { { "WidgetViewModel", Model } })
    </div>
}