@using R10.Web.Areas.Shared.ViewModels.ReportScheduler
@inject IStringLocalizer<SharedResource> SharedLocalizer
@model GridOptions
@inject IStringLocalizer<SharedResource> Localizer
@{
    var pageName = ViewBag.ActivePage;

    var detailPagePermission = Model.Permission ?? (DetailPagePermission)ViewData["PagePermission"];
    
    var helpUrl = Url.Action("Help", "ReportScheduler");
    var canEditRecord = detailPagePermission.CanEditRecord;
    var toolbarTemplate = canEditRecord?$"<div class='row'><nav class='nav nav-left col-6' style='padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px'>&nbsp&nbsp&nbsp&nbsp&nbsp<a class='k-button k-button-icontext k-grid-add' href='\\#'><span class='k-icon fal fa-plus'></span>{Localizer["Add"]}</a><a class='k-button k-button-icontext k-grid-Save d-none' href='\\#'><span class='k-icon fal fa-save'></span>{Localizer["Save"]}</a><a class='k-button k-button-icontext k-grid-Cancel d-none' href='\\#'><span class='k-icon fal fa-times'></span>{Localizer["Cancel"]}</a></nav><nav class='nav nav-right col-6' style='padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px'><a class='k-button k-button-icontext' id='scheduler-criteria-help' href='\\#'><i class='fal fa-question-circle pr-2'></i>{Localizer["Help"]}</a>&nbsp&nbsp&nbsp&nbsp&nbsp</nav></div>":$"<div class='row'><nav class='nav nav-right col-12' style='padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px'><a class='k-button k-button-icontext' id='scheduler-criteria-help' href='\\#'><i class='fal fa-question-circle pr-2'></i>{Localizer["Help"]}</a>&nbsp&nbsp&nbsp&nbsp&nbsp</nav></div>";
}

@(Html.Kendo().Grid<RSCriteriaViewModel>()
                            .Name("scheduleCriteriaGrid")
                            .Columns(columns =>
                            {
                                columns.Bound(a => a.FieldAlias)
                                        .EditorTemplateName("ComboBox")
                                .EditorViewData(new
                                {
                                    dataTextField = "FieldAlias",
                                    //dataTextField = "FieldName",
                                    dataValueField = "FieldAlias",
                                    //dataValueField = "FieldName",
                                    action = "GetFieldNameList",
                                    controller = Model.Controller,
                                    routeValues = new { area = "Shared", property = "FieldAlias", taskId=Model.ParentId },
                                    //routeValues = new { area = "Shared", property = "FieldName", taskId = Model.ParentId },
                                    template = ComboBoxHelper.GetItemTemplate("FieldAlias"),
                                    //template = ComboBoxHelper.GetItemTemplate("FieldName"),
                                    onSelect = "function(e) { pageHelper.refreshGridNameField(e, 'FieldAlias'); }"
                                    //onSelect = "function(e) { pageHelper.refreshGridNameField(e, 'FieldName'); }"
                                }).HtmlAttributes(new { style = "vertical-align:top; padding-top:0px !important", @class = !canEditRecord?"":"editable-cell" })
                                ;
                                columns.Bound(a => a.FieldValue)
                                            .EditorTemplateName("TextBox")
                                            .HtmlAttributes(new { style = "vertical-align:top; padding-top:0px !important; white-space: normal; word-wrap: break-word; max-width: 150px;", @class = !canEditRecord ? "" : "editable-cell", @maxlength = "255" })
                                    ;
                                columns.Command(command =>
                                {
                                    if (canEditRecord)
                                        command.Custom("Delete").Click("function(e) {ReportSchedulerPage.deleteGridRow(e,this)}").IconClass("k-icon fal fa-trash-alt");
                                }).Width(10);
                            })
                            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                            .ToolBar(toolbar =>
                            {
                                toolbar.ClientTemplate(toolbarTemplate);
                            })
                            .Editable(editable => editable.Enabled(true)
                                            .Mode(GridEditMode.InCell).
                                            ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))

                            //.Pageable()
                            //.AutoBind(false)
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Batch(true)
                                //.PageSize(10)
                                //.ServerOperation(false)
                                .Model(model =>
                                {
                                    model.Id(s => s.SchedCritId);
                                    model.Field(s => s.FieldName).Editable(canEditRecord);
                                    model.Field(s => s.FieldAlias).Editable(canEditRecord);
                                    model.Field(s => s.FieldValue).Editable(canEditRecord);
                                })
                                .Read(read => read.Action("GridRead", Model.Controller, new { parentId = Model.ParentId }))
                                .Update(update => update.Action("GridUpdate", Model.Controller))
                                .Destroy(update => update.Action("GridDelete", Model.Controller))
                                .Events(events =>
                                {
                                    events.Error("pageHelper.onGridError");
                                })
                            )
                            .HtmlAttributes(new { @class = "k-grid-border" })
)
<script>
    $(document).ready(function () {
        $("#scheduler-criteria-help").off("click").on("click", function () {
            const url = "@helpUrl";

            $.get(url)
            .done((result) => {
                const popupContainer = $(".site-content .popup").last();
                popupContainer.html(result);
            })
            .fail((e) => {
                pageHelper.showErrors(e.responseText);
            });
        });
    });
                       </script>