@model ComboBoxOptions
@{
    var template = "<span class='k-state-default'>#: data.CaseNumber #</span>";
    var pageSize = (Model.PageSize > 0) ? Model.PageSize : 8000;

    var htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("style", "width: " + Model.Width.ToString() + "%");
    htmlAttributes.Add("id", Model.Id);
    if (Model.Required) { htmlAttributes.Add("required", "required"); }
    //if (!string.IsNullOrEmpty(Model.ValidationMessage)) { htmlAttributes.Add("data-val", "true"); }
    //if (!string.IsNullOrEmpty(Model.ValidationMessage)) { htmlAttributes.Add("data-val-required", Model.ValidationMessage); }
}

@(Html.Kendo().ComboBox()
        .Name(Model.Name)
        .DataTextField(Model.DataTextProperty)
        .DataValueField(Model.DataValueProperty)
        .Filter(Model.ListFilterType)
        .Value(Model.DefaultValue)
        .Text(Model.DefaultValue)
        .AutoBind(false)
        .Height(520)
        .DataSource(source =>
        {
            if (Model.EnablePaging)
            {
                source.Ajax().PageSize(pageSize);
            }
            source.Read(read =>
            {
                read.Action(Model.Action, Model.Controller, new { Area = Model.Area, property = Model.DataTextProperty, filterType = Model.ListFilterType, requiredRelation = Model.RequiredRelation });
            })
            .ServerFiltering(true);
        })

    .Virtual(v =>
    {
        if (Model.EnablePaging)
        {
            v.ItemHeight(26);
            v.MapValueTo("dataItem");
            v.ValueMapper(Model.ValueMapper);
        }
    })
    .Virtual(Model.EnablePaging)
    .Template(template)
    .HtmlAttributes(htmlAttributes)
    .Events(e => e.Open("function(e) { if (this.element.data('fetched')===0) { this.dataSource.read();} this.element.data('fetched',1);}"))
    //.Events(e => e.Change(Model.OnChange))  
    .Events(e => { if (Model.LimitToList && string.IsNullOrEmpty(Model.OnChange)) { e.Change("pageHelper.handleComboBoxInvalidEntry"); } })

  )

@if (Model.LinkButtonUrl.Length > 0)
{
    <i class="btn btn-link fas fa-tree fa-rotate-180 cpiButtonLink" data-source="@Model.Id" data-url="@Model.LinkButtonUrl"></i>
}


