@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="patDesCaseTypeFieldsDeleteExtSearchMainTab" href="#patDesCaseTypeFieldsDeleteExtSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patDesCaseTypeFieldsDeleteExtSearchMainTabContent" title="@Localizer["Des Case Type Fields Delete Ext"]">@Localizer["Des Case Type Fields Delete Ext"]</a>
</li>
