@model DocFolderViewModel
@inject IStringLocalizer<SharedResource> Localizer


<form cpi-detail-form form-name="userFolderDetailForm" class="doc-detail-form" data-save-url="@Url.Action("SaveFolder", "DocFolder")">
    <input type="hidden" asp-for="FolderId" />
    <input type="hidden" name="tStamp" value="@Convert.ToBase64String(Model.tStamp)" />

    <div id="folderEditActionButtons" class="detail-page-nav pr-2 d-none">
        <nav class="nav nav-right">
            <a class="nav-link save-changes" href="#" title="Save" role="button"><i class="fal fa-save pr-2"></i><span>@Localizer["Save"]</span></a>
            <a class="nav-link cancel-changes" href="#" title="Cancel" role="button"><i class="fal fa-undo pr-2"></i><span>@Localizer["Cancel"]</span></a>
        </nav>
    </div>
    <div class="cpiMainEntry">
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label asp-for="FolderName"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="FolderName" />
                    <span asp-validation-for="FolderName"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label asp-for="Author"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Author" readonly />
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label asp-for="DateCreated"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="DateCreated" asp-format="{0:dd-MMM-yyyy hh:mm tt}" readonly />
                </div>
            </div>
        </div>
        <div class="form-row pt-2">
            <div class="col offset-6">
                <div class="form-group float-label">
                    <div class=" custom-control custom-checkbox">
                        <input asp-for="IsPrivate" class="custom-control-input" />
                        <label asp-for="IsPrivate" class="custom-control-label"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label asp-for="Remarks"></label>
                    <textarea class="form-control form-control-sm" rows="4" asp-for="Remarks"></textarea>
                </div>
            </div>

        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        documentPage.initializeUserDocumentEdit({
            pageContainer: "#userFolderDetailTabContent",
            editActionButtonsId: "#folderEditActionButtons",
            pageHeaderId: "#userFolderHeader",
            uploadFile: false
        });

    });

  
</script>