@using GleamTech.AspNet.Core
@using GleamTech.DocumentUltimate.AspNet.UI
@model DocumentViewer

<!DOCTYPE html>

<html>
    <head>
        @this.RenderHead(Model)
    </head>
    <body>
        @this.RenderBody(Model)
    </body>
</html>