<div class="page-main">
    <div class="row">
        <div class="sidebar-link"></div>
    </div>
    <div class="page-message"></div>
    <div class="page-header page-crumbs"></div>

    <div id="documentResultsContainer" class="page-grid doc-search-container" data-searchresults-url="@Url.Action("GetSearchResultsView", "Documents")">
    </div>
</div>

