<div style="height:50%;">
    @(Html.Kendo().Grid<AuditKeyDTO>()
          .Name("auditKeyGrid")
          .Columns(columns =>
          {
              columns.Bound(a => a.KeyField).Width(300);
              columns.Bound(a => a.KeyValue).Width(500);
          })          
          .AutoBind(false)
          .Scrollable(scrollable => scrollable.Height(250))
          .DataSource(dataSource => dataSource
              .Ajax()
              .ServerOperation(true)
              .Read(read => read.Action("GetAuditKeys", "AuditTrail"))

          )
          .Height("100%")
          .HtmlAttributes(new { @class = "kendo-Grid no-refine-search" })
          )
</div>
<div style="height:50%;">    
    @(Html.Kendo().Grid<AuditDetailDTO>()
          .Name("auditDetailGrid")
          .Columns(columns =>
          {
              columns.Bound(a => a.FieldName).Width(200);
              columns.Bound(a => a.OldValue).Width(300);
              columns.Bound(a => a.NewValue).Width(300);
          })
          .AutoBind(false)
          .Scrollable(scrollable => scrollable.Height(200))
          .DataSource(dataSource => dataSource
              .Ajax()
              .ServerOperation(true)
              .Read(read => read.Action("GetAuditLogDetail", "AuditTrail"))

          )
          .Height("100%")
          .HtmlAttributes(new { @class = "kendo-Grid no-refine-search" })
          )
</div>