@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();

}
<div id="auditTrailContentPage">
    <div id="auditTrailContainer">           
        <div id="logDataContainer" class="container-fluid">
            <div class="row" style="height: 100%;">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 log-header-wrap">
                    @await Html.PartialAsync("_LogHeader")
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 log-detail-wrap">
                    @await Html.PartialAsync("_LogDetail")
                </div>

            </div>
        </div>
    </div> 
</div>

<script>
    $(document).ready(function () {
        var url = '@(ViewContext.HttpContext.Request.PathBase)/Shared/AuditTrail/';
        auditTrail.initializeAuditTrail(url);           
    });
</script>
<style>  
    #auditTrailContentPage, #auditTrailContainer, #logDataContainer {
        height: 100%;
    }
    .page-grid {
        height: 94%;
    }
    #logDataContainer {
        border-top: 1px solid var(--separator);
        border-bottom: 1px solid var(--separator);
    }
    .log-header-wrap,
    .log-detail-wrap {
        padding: 0;
    }
    .log-header-wrap {
        border-right: 1px solid var(--separator);
    }

    @@media screen and (max-width: 767px) {
        .log-header-wrap {
            border-right: 0;
        }
    }
</style>