@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a class="nav-link active" id="auditTrailSearchMainTab" data-toggle="tab" href="#auditTrailSearchMainTabContent" role="tab" aria-controls="auditTrailSearchMainTabContent">@Localizer["Main Criteria"]</a>
</li>