@model LawPortal.Web.Models.DeleteConfirmationViewModels.CheckboxViewModel

<form id="deleteConfirmation" class="form-detail delete-confirm" method="post">
    <div class="row">
        <div class="col-2 text-center pl-md-4 pt-1">&nbsp;</div>
        <div class="col-10">
            <div class=" custom-control custom-checkbox">
                <input asp-for="Confirm" class="custom-control-input" />
                <label asp-for="Confirm" class="custom-control-label"></label>
            </div>
        </div>
    </div>
</form>