@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="patAreaCountryDeleteSearchMainTab" href="#patAreaCountryDeleteSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patAreaCountryDeleteSearchMainTabContent" title="@Localizer["Area Country Delete"]">@Localizer["Area Country Delete"]</a>
</li>
