@using R10.Web.Components
@model SingleMultiSwitcherOption
@{

}
<div>
    <div class="form-group vertical-bottom">
        <a role="button" onclick="ReportCriteriaPage.switchMultiAndSingle('@Model.MultiClass', '@Model.SingleClass');"><i class="fal fa-list-ul pr-2"></i></a>
    </div>
</div>