@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    bool canDeleteRecord = ViewBag.CanDeleteRecord;
    var settings = await Settings.GetSetting();

    var statusLink = @"#if('Import Failed, Imported, For Mapping Review'.includes(Status))
                       {#<a href = '##' data-id = '#=ImportId#' data-status = '#=Status#' class='details-link'>#=Status#</a>#}
                       else {#<span>#=kendo.htmlEncode(Status)#</span>#}#";

}
<h4>@Localizer["Import History"]</h4>
@(Html.Kendo().Grid<ProductImportHistory>()
          .Name("productImportHistoryGrid")
          .Columns(columns =>
          {
              columns.Bound(l => l.ImportDate).Format("{0:dd-MMM-yyyy hh:mm:ss tt}");
              columns.Bound(l => l.OrigFileName);              
              columns.Bound(l => l.NoOfRecords);
              columns.Bound(l => l.NoOfRecordsImported);
              columns.Bound(l => l.NoOfRecordsUpdated);
              columns.Bound(l => l.NoOfSalesImported);
              columns.Bound(l => l.NoOfSalesUpdated);
              columns.Bound(l => l.TranslatedStatus).ClientTemplate(statusLink);
              columns.Bound(l => l.ImportedBy);              
          })
          .Pageable(page=>page.PageSizes(settings.SearchResultsPageSizeOptions).Refresh(true))
          .Sortable()
          .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
          .AutoBind(false)
          .DataSource(dataSource => dataSource
              .Ajax()
              .Batch(true)
              .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(l => l.ImportId);
              })
              .Read(create => create.Action("ImportHistoryRead", "ProductImport"))
              .Sort(sorter=>sorter.Add(h=>h.ImportId).Descending())
              .PageSize(User.GetSearchResultsPageSize(settings.SearchResultsPageSize))
              .Events(events =>
              {
                  events.Error("pageHelper.onGridError");
              })
          )
          .HtmlAttributes(new { @class = "kendo-Grid" })
          )
