@model string
<div class="row">
    @(Html.Kendo().Grid<ProductImportTypeViewModel>()
                     .Name("dataImportTypeColumns")
                     .Columns(columns =>
                     {
                         columns.Bound(c => c.ColumnName);
                         columns.Bound(c => c.Required).ClientTemplate("<i class='fa fal #: Required ? 'fa-check' : ''#'></i>");
                         columns.Bound(c => c.DataType);
                         columns.Bound(c => c.MaxLength);
                     })
                     .Pageable()
                     .Sortable(sort => sort.AllowUnsort(false))
                    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                    .AutoBind(true)
                    .DataSource(dataSource => dataSource
                         .Ajax()
                         .Batch(true)
                         .ServerOperation(false)
                         .Read(create => create.Action("DataTypeColumnsRead", "ProductImport"))
                         .Events(events =>
                         {
                             events.Error("pageHelper.onGridError");
                         })
                     )
                     .HtmlAttributes(new { @class = "kendo-Grid", style = "width:100%" })
)
</div>
