@inject IStringLocalizer<SharedResource> Localizer
@{
    var options = (ProductImportOptionsViewModel)ViewBag.ImportOptions;
}
<div>
    <h5>@Localizer["Option:"]</h5>
    <form method="post" id="optionsForm">
        @Html.Kendo().CheckBox().Name("IgnoreDupes").Checked(options.IgnoreDupes).Label(Localizer["Ignore duplicates or records that are already existing (based on key: ProductCode) or have multiple sales"])
        @Html.Kendo().CheckBox().Name("UpdateProducts").Checked(options.UpdateProducts).Label(Localizer["Update existing Product records (based on key: ProductCode)"])
        @Html.Kendo().CheckBox().Name("UpdateSales").Checked(options.UpdateSales).Label(Localizer["Update existing Sale records (based on key: ProductCode, Year, and Country)"])
    </form>
</div>
