@inject IStringLocalizer<SharedResource> SharedLocalizer
@model ComboBoxOptions
@{
    var template = "";
    var headerTemplate = "";
    var nameOnly = false;
    if (Model.DataTextProperty.ToLower() == "contactname")
    {
        nameOnly = true;
        template = "<span class='k-state-default'>#: data.ContactName #</span>";
    }
    else
    {
        headerTemplate = "<div class='row border-bottom'><div class='col-md-3 mt-2 mb-2'><span>&nbsp;&nbsp;Code</span></div><div class='col-md-5 mt-2 mb-2'><span>Description</span></div></div>";
        template = "<div class='row'><div class='col-md-3'><span>#: data.Contact #</span></div><div class='col-md-5'><span>#: data.ContactName #</span></div></div>";
    }
}
@(Html.Kendo().ComboBox()
            .Name(Model.Name)
            .DataTextField(Model.DataTextProperty)
            .DataValueField(Model.DataValueProperty)
            .Value(Model.DefaultValue)
            .Text(Model.DefaultText)
            .Filter(Model.ListFilterType)
            .AutoBind(false)
            .AutoWidth(true)
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action(Model.Action, Model.Controller, new { area = Model.Area, property = Model.DataTextProperty, filterType = Model.ListFilterType, requiredRelation = Model.RequiredRelation });
                })
                .ServerFiltering(true);
            })
            .Template(template)
            .HeaderTemplate(headerTemplate)
            .Events(e => e.Select("function(e) {pageHelper.onComboBoxSelect(e,'ContactName');}"))
            .HtmlAttributes(new { style = "width: " + Model.Width.ToString() + "%", id = Model.Id })
            .Events(e => e.Open($"function(e) {{ if (this.element.data('fetched')===0) {{this.dataSource.read();}} this.element.data('fetched',1); pageHelper.setKendoListWidth(e,{(nameOnly ? 0 : Model.ListWidth)})}}"))
            .Events(e => e.Change("pageHelper.handleComboBoxInvalidEntry"))
)
@if (Model.LinkButtonUrl != null && Model.LinkButtonUrl.Length > 0)
{
    <i class="btn btn-link fal fa-search-plus cpiButtonLink" data-source="@Model.Id" data-url="@Model.LinkButtonUrl"></i>
}
