@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@using R10.Web.Areas.Shared.ViewModels
@{
    var settings = await Settings.GetSetting();
    var baseDetailUrl = Url.Action("Detail", "DesCaseType", new { intlCode = "__IC__", caseType = "__CT__", desCountry = "__DC__", desCaseType = "__DCT__", systems = "__SY__", fromSearch = true });
    var extDetailUrl = Url.Action("Detail", "DesCaseTypeExt", new { intlCode = "__IC__", caseType = "__CT__", desCountry = "__DC__", desCaseType = "__DCT__", systems = "__SY__", fromSearch = true });
    var detailTemplate = "<a href='#= (IsExt ? \""
        + extDetailUrl
        + "\" : \""
        + baseDetailUrl
        + "\").replace(\"__IC__\", encodeURIComponent(IntlCode||\"\")).replace(\"__CT__\", encodeURIComponent(CaseType||\"\")).replace(\"__DC__\", encodeURIComponent(DesCountry||\"\")).replace(\"__DCT__\", encodeURIComponent(DesCaseType||\"\")).replace(\"__SY__\", encodeURIComponent(Systems||\"\")) #' class='details-link'>#: IntlCode #</a>";
}

@(Html.Kendo().Grid<DesCaseTypeSearchItem>()
                .Name($"{Model.PageId}-Grid")
                .Columns(columns =>
                {
                    columns.Bound(m => m.IntlCode).ClientTemplate(detailTemplate).Width(150);
                    columns.Bound(m => m.CaseType).Width(150);
                    columns.Bound(m => m.DesCountry).Width(150);
                    columns.Bound(m => m.DesCaseType).Width(150);
                    columns.Bound(m => m.Systems).Width(200);
                    columns.Bound(m => m.IsExt).Title("_Ext").Width(80)
                        .ClientTemplate("#: IsExt ? '\\u2713' : '' #");
                })
                .ToolBar(tools => tools.ClientTemplate(Model.ToolbarTemplateTwoAdd(
                    Url.Action("Add", "DesCaseType", new { fromSearch = true }), Localizer["Add"],
                    Url.Action("Add", "DesCaseTypeExt", new { fromSearch = true }), Localizer["Add _Ext"],
                    Localizer["Export to Excel"])))
                .AutoBind(false)
                .Pageable(page => page.PageSizes(settings.SearchResultsPageSizeOptions).Refresh(true))
                .Sortable(sort => sort.AllowUnsort(false))
                .Excel(excel => excel.FileName("DesCaseTypeList.xlsx").AllPages(true).ProxyURL(Url.Action("ExcelExportSave", "DesCaseType")))
                .DataSource(dataSource => dataSource
                .Ajax().Events(events => events.Error("tmkDesCaseTypePage.searchResultGridError"))
                .Events(events => events.RequestEnd("tmkDesCaseTypePage.searchResultGridRequestEnd"))
                .PageSize(User.GetSearchResultsPageSize(settings.SearchResultsPageSize))
                .Read(read => read.Action("PageRead", "DesCaseType")
                .Data("tmkDesCaseTypePage.gridMainSearchFilters")
                )
                .Sort(sort => sort.Add(m => m.IntlCode))
                )
                .HtmlAttributes(new { @class = "kendo-Grid" })
)
