@model QuickDocketDeDocketInstructionMassUpdateViewModel
@inject IStringLocalizer<SharedResource> Localizer

<div class="modal fade" id="qdUpdateDDInstructionDialog" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-action="UpdateDeDocketInstruction" asp-controller="QuickDocket">
                <div class="modal-header py-1">
                    <h4 class="modal-title">@Localizer["DeDocket Instructions - Mass Update"]</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body py-1">
                    <div class="container-fluid">
                        <div class="col-md">
                            <div class="form-group float-label">
                                <label asp-for="Instruction"></label>
                                @await Component.InvokeAsync("ComboBox", new
                                    {
                                        name = "Instruction",
                                        controller = "DeDocketInstruction",
                                        action = "GetQDDeDocketInstructionBatchUpdateList",
                                        property = "Instruction",
                                        validationMessage = Localizer["The Instruction field is required."].ToString(),
                                        width = 100,
                                        limitToList = true,
                                        data = $"{{systemTypes:'{Model.SystemTypes}',indicators: '{Model.Indicators}'}}"
                                    })
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group float-label">
                                <label asp-for="Remarks"></label>
                                <textarea class="form-control form-control-sm" rows="3" asp-for="Remarks"></textarea>
                            </div>
                        </div>

                        <div class="col-md">
                            @(Html.Kendo().CheckBoxFor(m => m.EmptyInstructionOnly))
                            @* <div class="d-flex justify-content-end">
                            </div> *@
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer-buttons">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-check pr-2"></i>@Localizer["Update"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>






