@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var deDocketOn = settings.IsDeDocketOn;
}
<li class="nav-item">
    <a class="nav-link active" id="quickDocketSearchCaseInfoTab" data-toggle="tab" href="#quickDocketSearchCaseInfoTabContent" role="tab" aria-controls="quickDocketSearchCaseInfoTabContent">@Localizer["Main Criteria"]</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="quickDocketSearchEntitiesTab" data-toggle="tab" href="#quickDocketSearchEntitiesTabContent" role="tab" aria-controls="quickDocketSearchEntitiesTabContent">@Localizer["Entities"]</a>
</li>
<li class="nav-item">
    <a class="nav-link" data-toggle="tab" id="quickDocketSearchOtherInfoTab" href="#quickDocketSearchOtherInfoTabContent" role="tab" aria-controls="quickDocketSearchOtherInfoTabContent" aria-selected="false">@Localizer["Other Info"]</a>
</li>
@if (deDocketOn)
{
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" id="quickDocketSearchDeDocketTab" href="#quickDocketSearchDeDocketTabContent" role="tab" aria-controls="quickDocketSearchDeDocketTabContent" aria-selected="false">@Localizer["De-Docket"]</a>
    </li>
}


