<div class="modal" id="cpiLoadingSpinner" tabindex="-1" role="dialog" aria-labelledby="cpiLoadingSpinnerLabel" aria-hidden="true" aria-busy="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div id="cpiLoadingSpinnerLabel"><i class="far fa-spinner fa-spin"></i><span></span></div>
            </div>
        </div>
    </div>
</div>
@*<script src="~/js/loadingSpinner.js" asp-append-version="true"></script>*@