@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="languageSearchMainTab" href="#languageSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="languageSearchMainTabContent" title="@Localizer["Language"]">@Localizer["Language"]</a>
</li>