@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var clientLabel = settings.LabelClient;
    var ownerLabel = settings.LabelOwner;

    var content = SharedLocalizer[$"The current {clientLabel} will be copied over to the {ownerLabel} table. Do you want to continue?"];
}
<div id="copyClientToOwnerContainer">
    <div id="copyClientToOwner"></div>
    <script>
        var options = {
            container: 'copyClientToOwnerContainer',
            okText: '@SharedLocalizer["Yes"]',
            cancelText: '@SharedLocalizer["No"]',
            title: '@SharedLocalizer["Confirm Copy"]',
            content: '@content',
            okHandler: @ViewBag.CopyHandler

        };
        $("#copyClientToOwner").cpiConfirmActionDialog(options);
    </script>
</div>