<div class="page-main p-2">
    <div class="page-grid ifwSearchGrid" style="border: solid; border-width: thin; border-color: silver;">
        @await Html.PartialAsync("_SearchResultsIFW")
    </div>
    <div class="pt-3" id="ifwDetailContainer" data-detail-url="@Url.Action("GetIFWDetailView", "FormIFW")">
        @*IFW Detail Info here...*@
    </div>
</div>



