<div class="page-main">
    <div class="row">
        <div class="sidebar-link"></div>
    </div>
    <div class="page-message"></div>
    <div class="page-header page-crumbs"></div>

    <div id="formExtract-MainPaneContainer" class="page-grid doc-search-container" data-mainpane-url="@Url.Action("GetMainView", "FormExtract")">
        @*actual main form goes here...*@
    </div>
</div>