@inject ISystemSettings<PatSetting> Settings;
@inject IStringLocalizer<PatentResource> Localizer

@{
    var settings = await Settings.GetSetting();
    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter] : Localizer[settings.LabelCaseNumber];

    var pageId = "formExtract";
    var gridId = $"{pageId}-SearchGrid";

    var numberTitle = Localizer["Application No."] + "<br/>" + Localizer["Patent No."];
    var dateTitle = Localizer["Filing Date"] + "<br/>" + Localizer["Issue Date"];

    //var numberTemplate = "<span>#= AppNo == null ? '' : AppNo # <br> #= PatNo == null ? '' : PatNo #</span>";
    //var dateTemplate = "<span>#= FilDate == null ? '' : kendo.toString(FilDate,'dd-MMM-yyyy') # <br> #= IssDate == null ? '' : kendo.toString(IssDate,'dd-MMM-yyyy') #</span>";

}

@(Html.Kendo().Grid<FormIFWResultsViewModel>()
        .Name(gridId)
        .Columns(columns =>
        {
            columns.Bound(a => a.CaseNumber).Title(caseNumberLabel)
                .HtmlAttributes(new { @class = "text-nowrap"});
            columns.Bound(a => a.Country);
            columns.Bound(a => a.SubCase);
            columns.Bound(a => a.CaseType);
            columns.Bound(a => a.ApplicationStatus);
            columns.Bound(a => a.AppNo);
            columns.Bound(a => a.FilDate).Format("{0:dd-MMM-yyyy}");
            //columns.Bound(a => a.PatNo);
            //columns.Bound(a => a.IssDate).Format("{0:dd-MMM-yyyy}");
            //columns.Bound(a => a.AppNo).Title(numberTitle).ClientTemplate(numberTemplate);
            //columns.Bound(a => a.FilDate).Title(dateTitle).ClientTemplate(dateTemplate);
            columns.Bound(a => a.Description);
            columns.Bound(a => a.MailRoomDate).Format("{0:dd-MMM-yyyy}");
            //columns.Bound(a => a.FormName);
            columns.Bound(a => a.WasParsed).ClientTemplate("<i class='small fa fal #: WasParsed ? 'fa-check' : ''#'></i>").HtmlAttributes(new { @class = "text-center" }).HeaderHtmlAttributes(new { @class = "text-center" }).Width(100);
            columns.Bound(a => a.WasActGen).ClientTemplate("<i class='small fa fal #: WasActGen ? 'fa-check' : ''#'></i>").HtmlAttributes(new { @class = "text-center" }).HeaderHtmlAttributes(new { @class = "text-center" }).Width(100);
            columns.Bound(a => a.AIInclude).ClientTemplate("<i class='small fa fal #: AIInclude ? 'fa-check' : ''#'></i>").HtmlAttributes(new { @class = "text-center" }).HeaderHtmlAttributes(new { @class = "text-center" }).Width(100);
        })
        .AutoBind(false)
        .Pageable(page => page.PageSizes(true).Refresh(true))
        .Scrollable()
        .Sortable(sort => sort.AllowUnsort(false))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Events(events => events.RequestEnd("formExtractIFW.searchResultGridRequestEnd"))
            .PageSize(10)
            .Read(read => read.Action("SearchRead", "FormIFW").Data("formExtractIFW.gridMainSearchFilters"))
            .Sort(sort => sort.Add(a => a.CaseNumber))
         )
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .Events(events => events.Change("formExtractIFW.loadIFWDetail"))
        .HtmlAttributes(new { @class = "kendo-Grid" })

    )


<style>
    #@gridId tr:hover {
        cursor:pointer;
    }
    #@(gridId) tr.k-state-selected {
        background-color: var(--grid-hover) !important;
    }

    .k-grid td, .k-listview .col {
        font-size: smaller !important;
    }

    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #@(gridId) .k-grid-content {
        min-height: 100px;
        max-height: 200px;
    }
</style>