@model R10.Core.Entities.Documents.DocFile?

@if (Model != null && Model.IsImage)
{
    <img class="type-image lightbox" title="@Model.UserFileName" alt="@Model.UserFileName" src="@Url.Action("Download", "NetDocs", new { Area = "", Id = Model.DriveItemId })" />
}
else 
{
    <span class="no-image"><i class="fal fa-image fa-3x"></i></span>
}

<script>
    $(document).ready(function () {
        $(".type-image.lightbox").lightBox();
    });
</script>