@model DocumentViewerViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var permission = Model.Permission;
    var viewerName = $"DocViewerDocumentGallery_{Model.PageId}";
    var templateName = $"DocViewerDocumentGalleryTemplate_{Model.PageId}";
    var showDocumentLink = permission?.CanDownload ?? false;
    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
    var allowMoveDocument = false; // netdocs has no move document endpoint
}
<script type="text/x-kendo-tmpl" id="@templateName">
    <div class="gallery-doc text-center">
        <div class="gallery-thumbnail">
        @if (allowMoveDocument) 
        {
            <div class="grab">
            <span><input type='checkbox' data-document-id='#:Id#' draggable='true' ondragstart='docViewer.documentOnDragStart(event)'/><i class='far fa-grip-dots-vertical'></i></span>
            </div>
        }
            # if (data.IsImage) {#
                <img src="#:data.ImageUrl#" />
            # } else { #
                <i class="icon #:data.IconClass# fa-3x"></i>
            # } #
        </div>
        <div class="gallery-label">
        @if (showDocumentLink) 
        {
            <a href="##" class="view-details-icon" data-document-id="#:Id#" draggable="false" ondragstart="docViewer.documentOnDragStart(event)" onclick="docViewer.documentOnClick(event)" rel="noopener">#:data.Title#</a>
        }
        else 
        {
            <span>#:data.Title#</span>
        }
        </div>
    </div>
</script>
<div class="results gallery" data-name="@viewerName">
    @(
        Html.Kendo().ListView<DocumentViewModel>()
            .Name(viewerName)
            .TagName("div")
            .ClientTemplateId(templateName)
            .Selectable(ListViewSelectionMode.Multiple)
            .Pageable(pageable => pageable.Refresh(true).PageSizes(true).Responsive(false))
            .DataSource(dataSource => dataSource
                .Ajax()
                .ServerOperation(false)
                .PageSize(settings.SubFormPageSize)
                .Model(model =>
                {
                    model.Id(d => d.Id);
                })
                .Sort(sort => sort.Add(d => d.Title))
                .Read(read => read.Action("ViewerRead", controllerName, new { Area = "" }).Data("docViewer.viewerReadData"))
                .Events(events =>
                {
                    events.Error("docViewer.viewerOnError");
                    events.RequestEnd("docViewer.viewerOnRequestEnd");
                })
            )
            .Events(events => {
                events.Change("docViewer.viewerOnChange");
                events.DataBound("docViewer.viewerOnDataBound");
            })
    )
</div>