@inject IStringLocalizer<SharedResource> SharedLocalizer

<script>
    function letIdFilter() {
        return {
            letId: ($("#selLetId").val())
        };
    }
</script>
<div class="row" style="height: 350px;">
    <div class="col-md-12 h-100">
        @(Html.Kendo().Grid<LetterFieldListDTO>()
              .Name("fieldListGrid")
              .Columns(column =>
              {
                  column.Bound(fl => fl.ColumnName).Width(250);
                  column.Bound(fl => fl.DataType).Width(100);
                  column.Bound(fl => fl.DataValue).Width(100);
              })
              .AutoBind(false)
              .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
              .Scrollable()
              .Sortable(sortable => sortable.SortMode(GridSortMode.SingleColumn).ShowIndexes(true))
              .ToolBar(tools => tools.Excel())
              .Editable(editable => editable.Enabled(false))
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .Read(read => read.Action("FieldListRead", "LetterFieldList").Data("letIdFilter"))
                  .Events(events =>
                  {
                      events.Error("pageHelper.gridErrorHandler");
                  })
                  .Sort(sort => sort.Add(fl => fl.ColumnName))
              )
              .HtmlAttributes(new { @class = "kendo-Grid" })
              .HtmlAttributes(new { style = "height: 325px;" }))
    </div>
</div>

@*<style>
    .k-grid-content {
        min-height: 100px;
        max-height: 280px;
    }
</style>*@

