@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h3 class="text-danger"><span class="far fa-exclamation-circle fa-1x text-danger"></span> @ViewData["Title"]</h3>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
