@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="caseTypeSearchMainTab" href="#caseTypeSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="caseTypeSearchMainTabContent" title="@Localizer["Case Type"]">@Localizer["Case Type"]</a>
</li>