@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="patCountryExpDeleteSearchMainTab" href="#patCountryExpDeleteSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patCountryExpDeleteSearchMainTabContent" title="@Localizer["CountryExp Delete"]">@Localizer["CountryExp Delete"]</a>
</li>
