@{
    ViewData["Title"] = "Terms of Service";
}
<div class="cpi-policy">
    <h2>@ViewData["Title"]</h2>

    <h4>Terms</h4>
    <p>
        By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations,
        and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from
        using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.
    </p>

    <h4>Disclaimer</h4>
    <p>
        The materials on Computer Packages Inc.‘s web site are provided “as is”. Computer Packages Inc. makes no warranties, expressed or implied,
        and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability,
        fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Computer Packages Inc.
        does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its
        Internet web site or otherwise relating to such materials or on any sites linked to this site.
    </p>

    <h4>Limitations</h4>
    <p>
        In no event shall Computer Packages Inc. or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit,
        or due to business interruption,) arising out of the use or inability to use the materials on Computer Packages Inc.‘s Internet site, even if Computer
        Packages Inc. or a Computer Packages Inc. authorized representative has been notified orally or in writing of the possibility of such damage. Because
        some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations
        may not apply to you.
    </p>

    <h4>Links</h4>
    <p>
        Computer Packages Inc. is not responsible for the contents of any linked site. The inclusion of any link does not imply endorsement by Computer Packages Inc.
        of the site. Use of any such linked web site is at the user’s own risk.
    </p>

    <h4>Site Terms of Use Modifications</h4>
    <p>
        Computer Packages Inc. may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the
        then current version of these Terms and Conditions of Use.
    </p>

    <h4>Governing Law</h4>
    <p>Any claim relating to Computer Packages Inc.‘s web site shall be governed by the laws of the State of Maryland without regard to its conflict of law provisions.</p>
</div>


