@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();

    ViewData["Title"] = SharedLocalizer["IP Forms eSignature Setup"];
    var canModify = (bool)ViewData["CanModify"];

    var qeLinkUrl = Url.Action("DetailLink", "QuickEmailSetup", new
    {
        Area = "Shared",
        id = "actualValue"
    });
    var anchorCodeLinkUrl = Url.Action("DetailLink", "DocuSignAnchor", new
    {
        anchorCode = "actualValue"
    });

    var qeTemplate = $"<span class='pr-3'>#=kendo.htmlEncode(SignatureQETemplateName)#</span><i class='fal fa-search-plus btn-link qeLink' data-url='{qeLinkUrl}' title='{SharedLocalizer["Open Screen"]}'></i>";
    var anchorCodeTemplate = $"<span class='pr-3'>#=AnchorCode ? kendo.htmlEncode(AnchorCode) : ''#</span><i style='#=AnchorCode ? '' : 'display:none'#' class='fal fa-search-plus btn-link anchorCodeLink' data-url='{anchorCodeLinkUrl}' title='{SharedLocalizer["Open eSignature Tabs Screen"]}'></i>";
}

<script>

    eSignatureIPFormsSetupGrid_TemplateChange = (e) => {
        if (e.item) {
            const text = e.dataItem["Text"];
            const value = e.dataItem["Value"];

            console.log(e.dataItem);

            const row = $(`#${e.sender.element[0].id}`).closest("tr");
            const gridElement = $("#eSignatureIPFormsSetupGrid");
            const grid = gridElement.data("kendoGrid");
            const dataItem = grid.dataItem(row);

            dataItem.SignatureQETemplateName = text;
            dataItem.SignatureQESetupId = parseInt(value); //not working?
            dataItem.SignatureQESetupId2 = parseInt(value); 

            console.log(dataItem);

            $(row).find(".template-field").html(kendo.htmlEncode(text));
            gridElement.find(".efs-save-buttons").removeClass("d-none");
        }
    }

    $(document).ready(()=> {
        const grid = $("#eSignatureIPFormsSetupGrid");
        grid.on("click", ".qeLink", (e) => {
            e.stopPropagation();
            
            let url = $(e.target).data("url");
            const row = $(e.target).closest("tr");
            const dataItem = grid.data("kendoGrid").dataItem(row);
            const linkUrl = url.replace("actualValue", dataItem.SignatureQESetupId);
            window.open(linkUrl, '_blank');
        });

        grid.on("click", ".anchorCodeLink", (e) => {
            e.stopPropagation();

            let url = $(e.target).data("url");
            const row = $(e.target).closest("tr");
            const dataItem = grid.data("kendoGrid").dataItem(row);
            const linkUrl = url.replace("actualValue", dataItem.AnchorCode);
            window.open(linkUrl, '_blank');
        });

        grid.on("click", ".efs-cancel-button", (e) => {
            e.stopPropagation();
            grid.data("kendoGrid").dataSource.read();
            grid.find(".efs-save-buttons").addClass("d-none");
        });

        grid.on("click", ".efs-save-button", (e) => {
            e.stopPropagation();
            cpiLoadingSpinner.show();
           // console.log(grid.data("kendoGrid").dataSource.data());
            pageHelper.kendoGridSave({ name: 'eSignatureIPFormsSetupGrid', afterSubmit: () => { cpiLoadingSpinner.hide();}});
            grid.find(".efs-save-buttons").addClass("d-none");
        });
    });

</script>

<h5 class="pl-3">@ViewData["Title"]</h5>
@(
Html.Kendo().Grid<EFSViewModel>()
    .Name("eSignatureIPFormsSetupGrid")
        .Columns(columns =>
        {
            // columns.Bound(r => r.SystemType);
            columns.Bound(r => r.Country);
            columns.Bound(r => r.GroupDesc);
            columns.Bound(r => r.DocDesc);
            columns.Bound(r => r.SignatureQESetupId)
                            .HtmlAttributes(new { @class = "template-field" })
                            .ClientTemplate(qeTemplate)
                            .EditorTemplateName("ComboBox")
                            .EditorViewData(new
                            {
                                action = "eSignatureQESetupList",
                                controller = "EFS",
                                dataValueField = "Value",
                                dataTextField = "Text",
                                onSelect = "eSignatureIPFormsSetupGrid_TemplateChange",
                                limitToList = true,
                                serverFiltering = false
                            });
            columns.Bound(r => r.AnchorCode).ClientTemplate(anchorCodeTemplate);
        })
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .ToolBar(toolbar =>
        {
            if (canModify)
            {
                toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(SharedLocalizer["Save"]).HtmlAttributes(new { @class = "efs-save-button efs-save-buttons d-none" });
                toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(SharedLocalizer["Cancel"]).HtmlAttributes(new { @class = "efs-cancel-button efs-save-buttons d-none" });
            }

        })
        .Editable(editable => editable.Enabled(canModify)
                    .Mode(GridEditMode.InCell).
                    ConfirmDelete(@SharedLocalizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
        .Sortable(sort => sort.AllowUnsort(false))
        .Pageable()
        .AutoBind(true)
        .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(settings.SearchResultsPageSize)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.EfsDocId);
            model.Field(p => p.SystemType).Editable(false);
            model.Field(p => p.Country).Editable(false);
            model.Field(p => p.GroupDesc).Editable(false);
            model.Field(p => p.DocDesc).Editable(false);
            model.Field(p => p.AnchorCode).Editable(false);
        })
        .Read(create => create.Action("eSignatureRead", "EFS", new { anchorCodeId = Model }))
        .Update(create => create.Action("eSignatureUpdate", "EFS"))
        .Events(events =>
        {
            events.Error("pageHelper.onGridError");
        })
        )
        .HtmlAttributes(new { @class = "kendo-Grid" })
    )

