@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="tmkIndicatorSearchMainTab" href="#tmkIndicatorSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tmkIndicatorSearchMainTabContent" title="@Localizer["Trademark Indicator"]">@Localizer["Trademark Indicator"]</a>
</li>
