@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="patCountrySearchMainTab" href="#patCountrySearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patCountrySearchMainTabContent" title="@Localizer["Patent Country"]">@Localizer["Patent Country"]</a>
</li>