@model QEDataSourcePageViewModel
@inject IStringLocalizer<SharedResource> Localizer

@{
    var resultLabel = Localizer["Select the data source below that you want to view or modify."];
    var gridName = $"{Model.PageId}-Grid";
}


@*<div class="pl-2"  style="font-size:small; font-style:italic;">
    @resultLabel

</div>*@
@(Html.Kendo().Grid<QEDataSourceSearchResultViewModel>()
    .Name(gridName)
    .Columns(columns =>
    {
        columns.Bound(l => l.DataSourceID).Hidden();
        columns.Bound(l => l.DataSourceName).Title(Localizer["Data Sources"]);
    })
    .AutoBind(false)
    .Pageable(page => page.Responsive(false).Refresh(true))
    .Sortable(sort => sort.AllowUnsort(false))
    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(l => l.DataSourceID);
                    })
                    .Events(events => events.Error("quickEmailDataSourceSetup.searchResultGridError"))
                    .Events(events => events.RequestEnd("quickEmailDataSourceSetup.searchResultGridRequestEnd"))

                    .PageSize(Model.GridPageSize)
                    .PageSize(10)
                    .Read(read => read.Action("PageRead", "QuickEmailDataSourceSetup", new { sys = Model.SystemType })
                    .Data("quickEmailDataSourceSetup.gridMainSearchFilters"))
                    .Sort(sort => sort.Add(i => i.DataSourceName))
                )
    .Selectable()
    .Scrollable()
    .Events(events => events
        .Change("quickEmailDataSourceSetup.gridDisplayDetail")
        .DataBound("quickEmailDataSourceSetup.searchGridSelectRow")
        )

    .HtmlAttributes(new { @class = "kendo-Grid" })
)


<style>
  #@gridName tr:hover {
        cursor:pointer;
    }
    #@(gridName) tr.k-state-selected {
        background-color: var(--grid-hover) !important;
    }

    #@(gridName) .k-grid-content {
        min-height: 100px;
        max-height: 450px;
    }

</style>
