@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="LetterSubCategorySearchMainTab" href="#LetterSubCategorySearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="LetterSubCategorySearchMainTabContent" title="@Localizer["Letter Sub Category"]">@Localizer["Letter Sub Category"]</a>
</li>