@model DataImportHistory
@inject IStringLocalizer<DataImportResource> Localizer
@{
    int importId = Model.ImportId;
    string dataType = Localizer[Model.DataType.DataType];
    var typeColumns = ((List<DataImportTypeColumn>)ViewBag.TypeColumns).Select(c => c.ColumnName).OrderBy(c => c).ToList();
}
    <h5>
        @Localizer["Data type:"]<span class="ml-3">@dataType</span>
        <a id="getUpdateStructure" href='@Url.Action("GetStructure","DataImport", new {dataTypeId=Model.DataTypeId})' style="display:inline-block" class="pt-1"><span class="pl-2"><i class="fal fa-question-circle" style="font-size:1.2rem"></i></span></a>
    </h5>
@(Html.Kendo().Grid<DataImportMapping>()
                     .Name("dataUpdateMapping")
                     .Columns(columns =>
                     {
                         columns.Bound(m => m.YourField).Width(500);
                         columns.Bound(m => m.CPIField).EditorTemplateName("CPIField").Width(200)
                         .EditorViewData(new {data = typeColumns});
                     })
                     .Pageable()
                     .Sortable(sort => sort.AllowUnsort(false))
                    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                     .ToolBar(toolbar =>
                     {
                         toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(Localizer["Save"]).HtmlAttributes(new { @class = "d-none" });
                         toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(Localizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });
                     })
                     .Editable(editable => editable.Enabled(true)
                         .Mode(GridEditMode.InCell))
                     .AutoBind(true)
                     .DataSource(dataSource => dataSource
                         .Ajax()
                         .Batch(true)
                         .ServerOperation(false)
                         .Model(model =>
                         {
                             model.Id(m => m.MappingId);
                             model.Field(m => m.YourField).Editable(false);
                         })
                         .Read(create => create.Action("FieldMappingRead", "DataImport",new {importId=Model.ImportId}))
                         .Sort(sorter=>sorter.Add(c=>c.DisplayOrder))
                         .Update(create => create.Action("FieldMappingUpdate", "DataImport"))
                         .Events(events =>
                         {
                             events.Error("pageHelper.onGridError");
                         })
                     )

                     .HtmlAttributes(new { @class = "kendo-Grid",style="width:60%" })
)
