@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    bool canDeleteRecord = ViewBag.CanDeleteRecord;
    var systemType = ViewBag.SystemType;
    var settings = await Settings.GetSetting();
    
    var statusLink = @"#if('Update Failed, Updated, For Mapping Review'.includes(Status))
                       {#<a href = '##' data-id = '#=ImportId#' data-status = '#=Status#' class='details-link'>#=Status#</a>#}
                       else {#<span>#=kendo.htmlEncode(Status)#</span>#}#";

}
<h4>@Localizer["Update History"]</h4>
@(Html.Kendo().Grid<DataImportHistory>()
          .Name("dataUpdateHistoryGrid")
          .Columns(columns =>
          {
              columns.Bound(l => l.ImportDate).Format("{0:dd-MMM-yyyy hh:mm:ss tt}");
              columns.Bound(l => l.OrigFileName);
              columns.Bound(l => l.DataType.DataType);
              columns.Bound(l => l.NoOfRecords);
              columns.Bound(l => l.NoOfRecordsImported).ClientHeaderTemplate(Localizer["Updated"]);
              columns.Bound(l => l.TranslatedStatus).ClientTemplate(statusLink);
              columns.Bound(l => l.ImportedBy).ClientHeaderTemplate(Localizer["Updated By"]);             
          })
          .Pageable(page=>page.Refresh(true).Responsive(false))
          .Sortable()
          .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
          .AutoBind(false)
          .DataSource(dataSource => dataSource
              .Ajax()
              .Batch(true)
              .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(l => l.ImportId);
              })
              .Read(create => create.Action("ImportHistoryRead", "DataImport", new { systemType = systemType, isUpdate = true }))
              .Sort(sorter=>sorter.Add(h=>h.ImportId).Descending())
              .PageSize(User.GetSearchResultsPageSize(settings.SearchResultsPageSize))
              .Events(events =>
              {
                  events.Error("pageHelper.onGridError");
              })
          )
          .HtmlAttributes(new { @class = "kendo-Grid" })
          )
