@inject IStringLocalizer<DataImportResource> Localizer
<div class="d-flex flex-row">
    <div class="rounded-circle bg-success" style="width:45px; height:45px">
        <span>
            <i class="fal fa-clock" style="padding:10px;font-size: 25px; color: #fff"></i>
        </span>
    </div>
    <div class="pl-3">
        <h4 class="pb-1">@Localizer["Processing"]</h4>
        <span style="font-size: .9rem;">@Html.Raw(Localizer["Your import is processing in background.<br/>You can check the status by clicking the Refresh button or check back later by using the Import History log."])</span>
    </div>

</div>
<div class="d-flex justify-content-end mt-5">
    <button class="btn btn-primary" id="refresh" type="button" data-id="@ViewBag.ImportId"><span class="fal fa-redo"></span> @Localizer["Refresh"]</button>
</div>

