@inject IStringLocalizer<DataImportResource> Localizer
@{
    bool canAddRecord = ViewBag.CanAddRecord;
}

<div id="data-update">
    <ul class="nav d-flex justify-content-end" id="update-menu">
        @if (canAddRecord)
        {
            <li class="nav-item">
                <a class="nav-link active" id="du-link-update" data-toggle="tab" data-value="new" data-system="@ViewBag.SystemType" href="#updateContent">
                    <i class="fal fa-file-upload pr-2"></i>@Localizer["New Update"]</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" data-value="log" href="#updateHistory">
                <i class="fal fa-list-alt pr-2"></i>@Localizer["Update History"]</a>
        </li>
    </ul>
    <div class="tab-content" style="width:100%">
        <div class="tab-pane active" id="updateContent">
            <div class="col-md-12 col-xl-8">
                <div class="du-step" id="du-step1">
                    @await Html.PartialAsync("_UpdateStepFileUpload")
                </div>
                <div class="du-step d-none" id="du-step2">
                </div>
                <div class="du-step d-none" id="du-step3">
                </div>
                <div class="du-step d-none" id="du-step4">
                </div>
            </div>
                
        </div>
        <div class="tab-pane" id="updateHistory">
            @await Html.PartialAsync("_GridUpdateHistory")
        </div>
    </div>
</div>

<script>dataImportPage.initializeUpdate()</script>
<style>
    button {
        cursor: not-allowed;
    }
    .update-menu {
        font-size:.9rem;
    }
    .update-icon {
        background-color: var(--btn-primary);
    }
</style>