@model int
@inject IStringLocalizer<AdminResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
}

@(Html.Kendo().Grid<GroupUsersViewModel>()
    .Name("groupUsers")
    .Columns(columns =>
    {
        columns.Bound(g => g.User)
                    .Sortable(s => s.Compare("function (a, b) { if (a.User.Name < b.User.Name) return -1; if (a.User.Name == b.User.Name) return 0; if (a.User.Name > b.User.Name) return 1; }"))
                    .ClientTemplate("#=User.Name ? kendo.htmlEncode(User.Name) : ''#")
                    .Title(Localizer["User"].ToString())
                    .Editable($"{ViewBag.ActivePage}.isGridColumnEditable")
                    .EditorViewData(new { GroupId = Model })
                    .HtmlAttributes(new { @class = "grid-cell editable-cell" });
        columns.Bound(g => g.Email);
        columns.Command(command =>
        {
            if (detailPagePermission.CanDeleteRecord)
                command.Custom("Delete")
                        .Click($"function(e) {{{ViewBag.ActivePage}.deleteGridRow(e,this)}}")
                        .IconClass("k-icon fal fa-trash-alt")
                        .Text($"<span class='grid-action-label'>{Localizer["Delete"]}</span>")
                        .HtmlAttributes(new { @class = "grid-action" });
        }).Width(10);
    })
    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
    .ToolBar(toolbar =>
    {
        if (detailPagePermission.CanAddRecord)
        {
            toolbar.Create().IconClass("k-icon fal fa-plus").Text(Localizer["Add"])
                            .HtmlAttributes(new { @class = "grid-action" });
        }
        if (detailPagePermission.CanEditRecord && !detailPagePermission.CanEditRemarksOnly)
        {
            toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(Localizer["Save"]).HtmlAttributes(new {@class="d-none"});
            toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(Localizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });
        }

    })
    .Editable(editable => editable.Enabled(detailPagePermission.CanEditRecord && !detailPagePermission.CanEditRemarksOnly)
                .Mode(GridEditMode.InCell).
                ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
    .Sortable(sort => sort.AllowUnsort(false))
    .Pageable()
    //.Scrollable()
    .DataSource(dataSource => dataSource
    .Ajax()
    .Batch(true)
    //.Batch(detailPagePermission.CanEditRecord && !detailPagePermission.CanEditRemarksOnly)
    .PageSize(settings.SubFormPageSize)
    .ServerOperation(false)
    .Model(model =>
    {
        model.Id(g => g.Id);
        model.Field(g => g.GroupId).DefaultValue(Model);
        model.Field(g => g.User).DefaultValue(new PickListViewModel());
    })
    .Read(create => create.Action("GroupUsersRead", "Group", new { id = Model }))
    .Update(create => create.Action("GroupUsersUpdate", "Group"))
    .Destroy(create => create.Action("GroupUsersDelete", "Group"))
    .Events(events =>
    {
        events.Error("page.gridErrorHandler");
    })
    .Sort(sort => sort.Add(g => g.User))
    )
    .HtmlAttributes(new { @class = "kendo-Grid" })
)

<script>    
    function groupUsersOnChange(e) {
        var list = e.sender;

        if (list.selectedIndex >= 0) {
            const el = $(e.sender.element);
            const listItem = list.dataItem();

            el.closest('td').next('td').text(listItem.Email);
        }
    }

    function groupUsersReadData(e) {
        const row = $(event.srcElement).closest("tr");
        const grid = row.closest("[data-role=grid]").data("kendoGrid");
        const item = grid.dataItem(row);
        
        return { userId: item.User.Id ? item.User.Id : "" };
    }
</script>