@inject IStringLocalizer<AdminResource> Localizer

<li class="nav-item">
    <a class="nav-link active" id="groupMainInfoTab" data-toggle="tab" href="#groupMainInfoTabContent" role="tab" aria-controls="groupMainInfoTabContent">@Localizer["Group"]</a>
</li>
