
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="cpi-policy">
    <h2>@ViewData["Title"]</h2>

    <p>
        By using this Website, you agree to the collection and use of your information by Computer Packages Inc. in accordance with this policy. Computer Packages Inc. reserves the right to change
        the terms of this Privacy Policy at any time without notice. Your continued use of the Website following any changes to this Privacy Policy will constitute your
        acceptance of such changes.
    </p>

    <h4>Information Collected Automatically</h4>

    <p>
        In some cases, Computer Packages Inc. automatically (i.e., not via user registration) collects technical information when you connect to this website. Examples of this type of
        information include the type of internet browser you are using, the type of computer operating system you are using and the domain name of the website from which you
        linked to our site. Also, when you view the Website some information may be stored on your computer in the form of a "cookie" or similar file.
    </p>

    <p>Any information that are collected are not shared with other third-party.</p>
</div>

​