@model PatDesCaseTypeDelete
@using R10.Core.Entities.Patent
@inject IStringLocalizer<SharedResource> Localizer

<form cpi-detail-form action="Save">
    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="IntlCode"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="IntlCode" />
                    <span asp-validation-for="IntlCode"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="CaseType"></label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CaseType", controller = "CaseType", area = "Patent", action = "GetPicklistData", defaultValue = Model.CaseType })
                    <span asp-validation-for="CaseType"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="DesCountry"></label>
                    @await Component.InvokeAsync("ComboBox", new { name = "DesCountry", controller = "Country", area = "Patent", action = "GetPicklistData", textProperty = "Country", defaultValue = Model.DesCountry })
                    <span asp-validation-for="DesCountry"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="DesCaseType"></label>
                    @await Component.InvokeAsync("ComboBox", new { name = "DesCaseType", controller = "DesCaseType", area = "Patent", action = "GetPicklistData", textProperty = "DesCaseType", defaultValue = Model.DesCaseType })
                    <span asp-validation-for="DesCaseType"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-check mt-2">
                    <input type="checkbox" class="k-checkbox" asp-for="Default">
                    <label class="k-checkbox-label" asp-for="Default"></label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="IntlCodeNew"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="IntlCodeNew" />
                    <span asp-validation-for="IntlCodeNew"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="CaseTypeNew"></label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CaseTypeNew", controller = "CaseType", area = "Patent", action = "GetPicklistData", defaultValue = Model.CaseTypeNew })
                    <span asp-validation-for="CaseTypeNew"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="DesCountryNew"></label>
                    @await Component.InvokeAsync("ComboBox", new { name = "DesCountryNew", controller = "Country", area = "Patent", action = "GetPicklistData", textProperty = "Country", defaultValue = Model.DesCountryNew })
                    <span asp-validation-for="DesCountryNew"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="DesCaseTypeNew"></label>
                    @await Component.InvokeAsync("ComboBox", new { name = "DesCaseTypeNew", controller = "DesCaseType", area = "Patent", action = "GetPicklistData", textProperty = "DesCaseType", defaultValue = Model.DesCaseTypeNew })
                    <span asp-validation-for="DesCaseTypeNew"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col">
            <button type="submit" class="btn btn-primary btn-sm"><i class="fal fa-save mr-1"></i>@Localizer["Save"]</button>
        </div>
    </div>
</form>
