@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="patDesCaseTypeDeleteSearchMainTab" href="#patDesCaseTypeDeleteSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patDesCaseTypeDeleteSearchMainTabContent" title="@Localizer["DesCaseType Delete"]">@Localizer["DesCaseType Delete"]</a>
</li>
