@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="patDesCaseTypeDeleteSearchMainTab" href="#patDesCaseTypeDeleteSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patDesCaseTypeDeleteSearchMainTabContent" title="@Localizer["Des Case Type Delete"]">@Localizer["Des Case Type Delete"]</a>
</li>
