@model GridOptions
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<TmkSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter] : Localizer[settings.LabelCaseNumber];
    var detailPagePermission = Model.Permission ?? (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    var idParam = $"{{parentId: {Model.ParentId}}}";
    var tmkLink = $"<a href = '{Url.Action("Detail", "TmkTrademark", new { area = "Trademark", id = "#: TmkId#", fromSearch = true })}' class='details-link'>#: Country#</a>";
    var controller = Model.Controller;
    if (controller.StartsWith("Tmk"))
        tmkLink = $"<a href = '{Url.Action("Detail", "TmkTrademark", new { area = "Trademark", id = "#: TmkId#", fromSearch = true })}' class='details-link' target='_blank'>#: Country#</a>";
    var detailsLinkTemplate = $"#if (!(Country===null || Country==='')) {{# {tmkLink} #}}#";

    var pageName = ViewBag.ActivePage;
    var id = Model.ParentId;
    bool addMode = id == 0;

    var enableComboPaging = settings.EnableComboBoxPaging;
    var comboPagingSize = settings.ComboBoxPagingSize;

    var gridName = $"relatedTrademarksGrid";

    var thumbnailTemplate = "";
    switch (settings.DocumentStorage)
    {
        case DocumentStorageOptions.SharePoint:
            thumbnailTemplate = "<img id='tmk-sr-#:TmkId#' style='max-height:50px; max-width:50px' "
                                     + "onmouseover=\"relatedTrademarkPage.showSharePointTmkDefaultImage(#: TmkId#)\" onmouseout=\"relatedTrademarkPage.hideDefaultImage(\'imageWindow\')\" />";
            break;


        case DocumentStorageOptions.iManage:
            thumbnailTemplate = $"<div class='imanage-default-image default-grid-image' data-url='{Url.Action("DefaultGridImage", "iManageWork", new { Area = "" })}' data-filename='#:ImageFile#'></div>";
            break;

        case DocumentStorageOptions.NetDocuments:
            thumbnailTemplate = $"<div class='doc-viewer-default-image default-grid-image' data-url='{Url.Action("DefaultGridImage", "NetDocs", new { Area = "" })}' data-filename='#:ImageFile#'></div>";
            break;

        default:
            var thumbnailBaseUrl = Url.Content("~/FileViewer/GetThumbnail?system=Trademark&screencode=tmk");
            thumbnailTemplate = "<img src='" + thumbnailBaseUrl + "&thumbnailFile=#: ThumbnailFile#&key=#: TmkId#' style='max-height:50px; max-width:50px' "
                                   + "onmouseover=\"relatedTrademarkPage.showDefaultImage(#: TmkId#,\'#: ImageFile#\')\" onmouseout=\"relatedTrademarkPage.hideDefaultImage(\'imageWindow\')\" />";
            break;
    }
}

<div data-url-add-related-trademark="@Url.Action("RelatedTrademarksAdd", controller)"
     data-url-edit-related-trademark="@Url.Action("RelatedTrademarksEdit", controller)">
    @(Html.Kendo().Grid<SharedRelatedTrademarkViewModel>()
        .Name(gridName)
        .Columns(columns =>
        {
            columns.Bound(r => r.RelatedCaseNumber).Width(150).Title(Localizer[caseNumberLabel]).HtmlAttributes(new { @class = "relatedCaseNumber-field nowrap" });
            columns.Bound(t => t.Trademark).Width(250).ClientTemplate("<div class='col' style='padding-right: 0; padding-left: 0;'><div class='tmkNameSearchResult-collapsible'>#: Trademark#</div></div>");
            columns.Bound(t => t.ThumbnailFile).Hidden();
            columns.Bound(p => p.ImageFile).Width(100).ClientTemplate("# if (ThumbnailFile == null){} else { #" + thumbnailTemplate + "# }#").Sortable(!settings.IsSharePointIntegrationOn);
            columns.Bound(r => r.Country).Width(100).ClientTemplate(detailsLinkTemplate).HtmlAttributes(new { @class = "country-field" });
            columns.Bound(r => r.SubCase).Width(100).HtmlAttributes(new { @class = "subCase-field" });
            columns.Bound(r => r.CaseType).Width(100).HtmlAttributes(new { @class = "caseType-field" });
            columns.Bound(t => t.AppNumber);
            columns.Bound(t => t.FilDate).Format("{0:dd-MMM-yyyy}").HtmlAttributes(new { @class = "nowrap" });
            columns.Bound(t => t.RegNumber);
            columns.Bound(t => t.RegDate).Format("{0:dd-MMM-yyyy}").HtmlAttributes(new { @class = "nowrap" });
            columns.Bound(t => t.TrademarkClasses).Width(100).ClientTemplate("<div class='col' style='padding-right: 0; padding-left: 0;'><div class='tmkNameSearchResult-collapsible'>#: TrademarkClasses#</div></div>"); ;
            columns.Bound(t => t.TrademarkStatus);
            columns.Command(command =>
            {
                if (detailPagePermission.CanEditRecord)
                    command.Custom("Edit")
                .Click("function(e) {relatedTrademarkPage.editRelatedTrademarksGridRow(e, '" + @gridName + "');}")
                .IconClass("k-icon fal fa-edit")
                .Text($"<span class='grid-action-label'>{Localizer["Edit"]}</span>")
                .HtmlAttributes(new { @class = "grid-action" });

            }).Width(10);
            columns.Command(command =>
            {
                if (detailPagePermission.CanDeleteRecord)
                    command.Custom("Delete")
                .Click("function(e) {" + pageName + ".deleteGridRow(e,this)}")
                .IconClass("k-icon fal fa-trash-alt")
                .Text($"<span class='grid-action-label'>{Localizer["Delete"]}</span>")
                .HtmlAttributes(new { @class = "grid-action" });

            }).Width(10);
        })

        @* .Filterable() *@
        .Pageable(page => page.Responsive(false).PageSizes(settings.SubFormPageSizeOptions).Refresh(true))
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .ToolBar(toolbar =>
        {
            //HIDE ADD BUTTON IF PARENT IS READONLY
            if (detailPagePermission.CanEditRecord && detailPagePermission.CanAddRecord & !addMode)
            {
                @* toolbar.Create().IconClass("k-icon fal fa-plus").Text(Localizer["Add"]).HtmlAttributes(new { @class = "grid-action" }); *@
                toolbar.Custom().Name("Add").IconClass("k-icon fal fa-plus").Text(Localizer["Add"]).HtmlAttributes(new { @class = "ShowAddOurTrademark" }).HtmlAttributes(new { @class = "grid-action" });
            }
            if (detailPagePermission.CanEditRecord && !detailPagePermission.CanEditRemarksOnly)
            {
                toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(Localizer["Save"]).HtmlAttributes(new { @class = "d-none" });
                toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(Localizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });
            }

        })
        .Excel(excel => excel.FileName($"ExportList.xlsx").AllPages(true).ProxyURL(Url.Action("ExcelExportSave", Model.Controller)))
        .Editable(editable => editable.Enabled(detailPagePermission.CanEditRecord || detailPagePermission.CanEditRemarksOnly)
        .Mode(GridEditMode.InCell).
        ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
        .Sortable(sort => sort.AllowUnsort(false))
        .AutoBind(false)
        .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(settings.SubFormPageSize)
        .ServerOperation(false) //allow pending changes to persist when paging or sorting
        .Model(model =>
        {
            model.Id(r => r.KeyId);
            model.Field(r => r.RelatedCaseNumber).Editable(false);
            model.Field(r => r.Country).Editable(false);
            model.Field(r => r.SubCase).Editable(false);
            model.Field(r => r.CaseType).Editable(false);
            model.Field(r => r.ImageFile).Editable(false);
            model.Field(r => r.Trademark).Editable(false);
            model.Field(r => r.AppNumber).Editable(false);
            model.Field(r => r.FilDate).Editable(false);
            model.Field(r => r.RegNumber).Editable(false);
            model.Field(r => r.RegDate).Editable(false);
            model.Field(r => r.TrademarkClasses).Editable(false);
            model.Field(r => r.TrademarkStatus).Editable(false);
        })
        .Read(create => create.Action("RelatedTrademarksRead", Model.Controller).Data(@idParam))
        .Update(update => update.Action("RelatedTrademarksUpdate", Model.Controller))
        .Destroy(destroy => destroy.Action("RelatedTrademarkDelete", Model.Controller))
        .Events(events =>
        {
            events.Error("pageHelper.onGridError");
        })
        )
        .Events(events => events.DataBound("function(e) {relatedTrademarkPage.relatedTrademarksGridDataBound('" + @gridName + "', " + @id + ");}"))
        .HtmlAttributes(new { @class = "kendo-Grid" })
        )


</div>
<script>
    relatedTrademarkPage.initialize('@gridName', '@id');
</script>
<div id="imageWindow" style="display: none;">
    <img id="defaultImage" class="img-fluid img-thumbnail" />
</div>
<style>
    .k-grid .nowrap {
        white-space: nowrap;
    }

    #imageWindow {
        height: 400px;
        width: 400px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 9999;
    }
</style>
