@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="patDesCaseTypeDeleteExtSearchMainTab" href="#patDesCaseTypeDeleteExtSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patDesCaseTypeDeleteExtSearchMainTabContent" title="@Localizer["DesCaseType Delete Ext"]">@Localizer["DesCaseType Delete Ext"]</a>
</li>
