@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="countryDueSearchMainTab" href="#countryDueSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="countryDueSearchMainTabContent" title="@Localizer["Country Due"]">@Localizer["Country Due"]</a>
</li>
