@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="patDesCaseTypeFieldsDeleteExtSearchMainTab" href="#patDesCaseTypeFieldsDeleteExtSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patDesCaseTypeFieldsDeleteExtSearchMainTabContent" title="@Localizer["DesCaseTypeFields Delete Ext"]">@Localizer["DesCaseTypeFields Delete Ext"]</a>
</li>
