@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="tmkDesCaseTypeExtSearchMainTab" href="#tmkDesCaseTypeExtSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tmkDesCaseTypeExtSearchMainTabContent" title="@Localizer["DesCaseType Ext"]">@Localizer["DesCaseType Ext"]</a>
</li>
