@model PageViewModel
@inject IStringLocalizer<CountryLawResource> Localizer
@{
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
}

<div class="tab-content search page-content">
    <div class="tab-pane show active" id="countryLawSearchMainTabContent" role="tabpanel" aria-labelledby="countryLawSearchMainTab">
        <div class="form-row">
            <div class="col-md-4 col-lg-4 col-xl-3">
                <div class="form-group float-label">
                    <label for="Country">@countryLabel</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Country", controller = "CountryLaw", action = "GetCountryList", area = "Patent", textProperty = "Country", multiSelect = true })
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-4">
                <div class="form-group float-label">
                    <label for="CountryName">@countryNameLabel</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CountryName", controller = "CountryLaw", action = "GetCountryList", area = "Patent", textProperty = "CountryName", multiSelect = true })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 col-lg-4 col-xl-3">
                <div class="form-group float-label">
                    <label for="CaseType">@Localizer["Case Type"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CaseType", action = "GetCaseTypeList", multiSelect = true })
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3">
                <div class="form-group float-label">
                    <label for="SystemName">@Localizer["Systems"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "SystemName", controller = "System", area = "Shared", action = "GetPicklistData", multiSelect = true })
                </div>
            </div>
        </div>
    </div>
</div>
