@inject IStringLocalizer<CountryLawResource> Localizer

<li class="nav-item">
    <a class="nav-link active" data-toggle="tab" id="countryLawSearchMainTab" href="#countryLawSearchMainTabContent" role="tab" aria-controls="countryLawSearchMainTabContent" aria-selected="true">@Localizer["Country Law"]</a>
</li>
