@model string
@inject IStringLocalizer<SharedResource> Localizer
@inject IAuthorizationService AuthorizationService

@* All IP Decision Central links removed - modules (Patent, Trademark, AMS, DMS, RMS, ForeignFiling, PatClearance, SearchRequest) are no longer active *@
<div class="ipdc-nav sidebar-nav p-3">
    <ul class="nav nav-pills cpi-nav-vertical flex-column">
        <li class="nav-item">
            <span class="nav-link text-muted">@Localizer["No modules available"]</span>
        </li>
    </ul>
</div>
