@model LoginWithRecoveryCodeViewModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<div class="row mt-3">
    <div class="col">
        <div class="card card-account border-secondary mx-auto">
            <h3 class="card-header bg-transparent border-0 mt-0 text-center">@ViewData["Title"]</h3>
            <div class="card-body">
                <div class="card-title pb-3">
                    You have requested to login with a recovery code. This login will not be remembered until you provide
                    an authenticator app code at login or disable 2FA and login again.
                </div>

                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="list-unstyled alert alert-danger alert-dismissible mb-4" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="form-group">
                        <input asp-for="RecoveryCode" class="form-control" autocomplete="off" placeholder="Recovery code" />
                        <span asp-validation-for="RecoveryCode" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block-xs">Log in</button>
                </form>
            </div>
        </div>
    </div>
</div>

@*@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}*@
