@model string
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<TmkSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter] : Localizer[settings.LabelCaseNumber];
    string product = Model;
    var tmkLink = $"<a href = '{Url.Action("Detail", "TmkTrademark", new { area = "Trademark", id = "#: TmkId#", fromSearch = true })}' class='details-link'>#: RelatedTmkCountry#</a>";
    var detailsLinkTemplate = $"#if (!(RelatedTmkCountry===null || RelatedTmkCountry==='')) {{# {tmkLink} #}}#";

    var toolbarTemplate = $"<nav class='nav nav-left'><a class='k-button k-button-icontext k-grid-excel no-results-hide' href='\\#'><i class='fal fa-file-excel pr-2'></i>{Localizer["Export to Excel"]}</a></nav>";

    var parentIdParam = $"{{systemType: '{SystemType.Trademark}', productCode: '{product}'}}";
}

@(Html.Kendo().Grid<ProductTrademarkViewModel>()
          .Name("prodRelatedTrademarksGrid")
          .Columns(columns =>
          {
              columns.Bound(r => r.RelatedTmkCaseNumber).Width(300).Title(caseNumberLabel).Filterable(ftb => ftb.Multi(true).Search(true));
              columns.Bound(r => r.RelatedTmkCountry).ClientTemplate(detailsLinkTemplate).Width(150).HtmlAttributes(new { @class = "country-field" }).Filterable(ftb => ftb.Multi(true).Search(true));
              columns.Bound(r => r.RelatedTmkSubCase).Width(180).HtmlAttributes(new { @class = "subCase-field" }).Filterable(ftb => ftb.Multi(true).Search(true));
              columns.Bound(r => r.RelatedTmkCaseType).Width(180).HtmlAttributes(new { @class = "caseType-field" }).Filterable(ftb => ftb.Multi(true).Search(true));
              columns.Bound(r => r.RelatedTmkStatus).Width(180).HtmlAttributes(new { @class = "status-field" }).Filterable(ftb => ftb.Multi(true).Search(true));
              columns.Bound(r => r.RelatedTmkAppNumber).Width(180).HtmlAttributes(new { @class = "appNumber-field" }).Filterable(ftb => ftb.Multi(true).Search(true));
              columns.Bound(r => r.RegNumber).Width(180).HtmlAttributes(new { @class = "regNumber-field" }).Filterable(ftb => ftb.Multi(true).Search(true));
              columns.Bound(a => a.NextRenewalDate).Width(180).Format("{0:dd-MMM-yyyy}").Filterable(ftb => ftb.Multi(true).Search(true));
              columns.Bound(r => r.TrademarkName).HtmlAttributes(new { @class = "trademarkName-field" }).Filterable(ftb => ftb.Multi(true).Search(true));             
          })
          .ToolBar(tools =>
          {
              tools.ClientTemplate(toolbarTemplate);
          })
          .Filterable(ftb => ftb.Enabled(true))
          .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
          .Sortable(sort => sort.AllowUnsort(false))
          .Pageable()
          .DataSource(dataSource => dataSource
              .Ajax()
              .Batch(true)
              .PageSize(settings.SubFormPageSize)
              .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(r => r.TmkId);
              })             
              .Read(create => create.Action("RelatedTrademarksRead", "Product", new { product = product }))
              .Events(events =>
              {
                  events.Error("pageHelper.onGridError");
              })
          )
          .HtmlAttributes(new {@class = "kendo-Grid" })
          )