@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="productSearchMainTab" href="#productSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="productSearchMainTabContent" title="@Localizer["Product"]">@Localizer["Product"]</a>
</li>