@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="countryExpSearchMainTab" href="#countryExpSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="countryExpSearchMainTabContent" title="@Localizer["Country Expiry"]">@Localizer["Country Expiry"]</a>
</li>
