@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="tmkDesCaseTypeFieldsExtSearchMainTab" href="#tmkDesCaseTypeFieldsExtSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tmkDesCaseTypeFieldsExtSearchMainTabContent" title="@Localizer["DesCaseTypeFields Ext"]">@Localizer["DesCaseTypeFields Ext"]</a>
</li>
