@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var clientLabel = settings.LabelClient;
    var ownerLabel = settings.LabelOwner;

    var content = SharedLocalizer[$"The current {ownerLabel} will be copied over to the {clientLabel} table. Do you want to continue?"];
}
<div id="copyOwnerToClientContainer">
    <div id="copyOwnerToClient"></div>
    <script>
        var options = {
            container: 'copyOwnerToClientContainer',
            okText: '@SharedLocalizer["Yes"]',
            cancelText: '@SharedLocalizer["No"]',
            title: '@SharedLocalizer["Confirm Copy"]',
            content: '@content',
            okHandler: @ViewBag.CopyHandler

        };
        $("#copyOwnerToClient").cpiConfirmActionDialog(options);
    </script>
</div>