@model PatAreaDelete
@using R10.Core.Entities.Patent
@inject IStringLocalizer<SharedResource> Localizer
@{
    var addMode = Model.IsNewRecord;
    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    bool keyFieldsReadOnly = isReadOnly || !addMode; // Key fields readonly on edit
}

<form cpi-detail-form action="Save">
    @if (addMode)
    {
        <input type="hidden" name="IsNewRecord" value="true" class="boolean" />
    }
    <input type="hidden" name="OriginalSystems" value="@(addMode ? "__NEW__" : (string.IsNullOrEmpty(Model.Systems) ? "__EMPTY__" : Model.Systems))" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="Area"></label>
                    @if (keyFieldsReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="Area" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "Area", controller = "Area", area = "Patent", action = "GetPicklistData", defaultValue = Model.Area })
                        <span asp-validation-for="Area"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-8 col-md-7 col-lg-6 col-xl-5">
                <div class="form-group float-label">
                    <label asp-for="Description"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Description" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3">
                <div class="form-group float-label">
                    <label asp-for="AreaNew"></label>
                    <input type="hidden" name="AreaNew" id="AreaNew" value="@Model.AreaNew" />
                    <input type="text" class="form-control form-control-sm" id="AreaNewDisplay" value="@Model.AreaNew" readonly />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group float-label">
                    <label asp-for="Systems"></label>
                    @await Html.PartialAsync("~/Views/Shared/_SystemsDropdown.cshtml", null, new ViewDataDictionary(ViewData) {
                        { "SystemsValue", Model.Systems },
                        { "SystemsPrefix", "patADel" },
                        { "SystemsAction", Url.Action("GetSystemList") },
                        { "SystemsReadOnly", false }
                    })
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    $(document).ready(function() {
        function syncAreaNewField() {
            var area = $('[name=Area]').val() || $('input[name=Area]').val() || '';
            $('#AreaNew').val(area);
            $('#AreaNewDisplay').val(area);
        }
        $(document).on('change', '[name=Area], [name=Area_input]', syncAreaNewField);
    });
    patAreaDeletePage.afterInsert = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    patAreaDeletePage.showDetails = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    $(document).ready(function() {
        $('.page-nav.add-record').off('click').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).data('url');
            if (url) pageHelper.openLink(url, true);
        });
        $('.copy-record').off('click').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).data('url');
            if (url) pageHelper.openLink(url, true);
        });
    });
</script>
