@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="patAreaDeleteSearchMainTab" href="#patAreaDeleteSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patAreaDeleteSearchMainTabContent" title="@Localizer["Area Delete"]">@Localizer["Area Delete"]</a>
</li>
