@inject IStringLocalizer<AdminResource> Localizer

<li class="nav-item">
    <a class="nav-link active" id="taskSchedulerMainInfoTab" data-toggle="tab" href="#taskSchedulerMainInfoTabContent" role="tab" aria-controls="taskSchedulerMainInfoTabContent">@Localizer["Task"]</a>
</li>
