@model PageViewModel
@inject IStringLocalizer<AdminResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var detailsUrl = Url.Action("Detail", new { id = "#: TaskId#", fromSearch = true });
    var detailsLinkTemplate = $"<a href='{detailsUrl}' class='details-link' data-id='#: TaskId#'>#: Name#</a>";
}
@(Html.Kendo().Grid<ScheduledTaskListViewModel>
    ()
    .Name($"{Model.PageId}-Grid")
    .Columns(columns =>
    {
        columns.Bound(t => t.Name).ClientTemplate(detailsLinkTemplate);
        columns.Bound(t => t.Description);
        columns.Bound(t => t.IsEnabled).Title(Localizer["Enabled"].Value)
                .ClientTemplate($"<i class='#= IsEnabled ? 'fal fa-check' : ''#'>")
                .HtmlAttributes(new { @class = "text-center" })
                .HeaderHtmlAttributes(new { @class = "text-center" });
        columns.Bound(t => t.Status);
        columns.Bound(t => t.NextRunTime).Format("{0:dd-MMM-yyyy h:mmtt}").HtmlAttributes(new { @class = "no-wrap" }).MinScreenWidth(576);
        columns.Bound(t => t.LastRunTime).Format("{0:dd-MMM-yyyy h:mmtt}").HtmlAttributes(new { @class = "no-wrap" }).MinScreenWidth(768); ;
    })
    .ToolBar(tools => tools.ClientTemplate(Model.ToolbarTemplate(Url.Action("Add", new { fromSearch = true }), Localizer["Add"], Localizer["Export to Excel"], Localizer["Clear Filters"])))
    .AutoBind(false)
    .Pageable(page => page.PageSizes(settings.SearchResultsPageSizeOptions).Refresh(true))
    .Sortable(sort => sort.AllowUnsort(false))
    //.ColumnMenu()
    .Excel(excel => excel.FileName("ScheduledTaskList.xlsx").AllPages(true))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => events.Error($"{ViewBag.ActivePage}.searchResultGridError"))
        .Events(events => events.RequestEnd($"{ViewBag.ActivePage}.searchResultGridRequestEnd"))
        .PageSize(User.GetSearchResultsPageSize(settings.SearchResultsPageSize))
        .Read(read => read.Action("PageRead", "TaskScheduler")
            .Data($"{ViewBag.ActivePage}.gridMainSearchFilters"))
        .Sort(sort => sort.Add(p => p.Name))
      )
      .HtmlAttributes(new { @class = "kendo-Grid" })
    )

    <script>
        $(document).ready(function () {
            //$(".kendo-Grid .k-grid-toolbar").addClass("sidebar-link show");
            $(".kendo-Grid .k-grid-toolbar").addClass("show");
        });
    </script>