@inject IStringLocalizer<AdminResource> Localizer

<li class="nav-item">
    <a class="nav-link active" id="mailDataMapMainInfoTab" data-toggle="tab" href="#mailDataMapMainInfoTabContent" role="tab" aria-controls="mailDataMapMainInfoTabContent">@Localizer["Data Map"]</a>
</li>
