@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a class="nav-link active" id="scheduleSearchInfoTab" data-toggle="tab" href="#scheduleSearchInfoTabContent" role="tab" aria-controls="scheduleSearchInfoTabContent" aria-selected="true">@Localizer["Schedule Info"]</a>
</li>