@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="BrandSearchMainTab" href="#BrandSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="BrandSearchMainTabContent" title="@Localizer["Brand"]">@Localizer["Brand"]</a>
</li>