@model QELog
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var idParam = Model.LogID;
    var system = ImageHelper.GetSystemName(Model.SystemType);

    var docLink = ViewBag.Key.Split("|");
    var systemType = docLink[0];
    var parentKey = docLink[1];
    var parentValue = docLink[2];
    var screenCode = ImageHelper.GetScreenCode(parentKey);

    var viewUrl = Url.Content("~/FileViewer/ViewLogImage?system=" + system);
    var thumbnailUrl = Url.Content("~/FileViewer/GetThumbnail?system=" + system);
    var logoThumbnailUrl = @Url.Content("~/images/");

    var openFileTemplate = $"<a target='_blank' href='{viewUrl}&fileId=#=FileName#&screenCode={screenCode}&key={parentValue}'><img src='{thumbnailUrl}&thumbnailFile=#=Thumbnail#&screenCode={screenCode}&key={parentValue}&fileType=9' alt='#=Thumbnail #' Title='#=FileTitle #' height='62' width='62' /></a>";
    var openLogoTemplate = $"<a target='_blank' href='{viewUrl}&fileId=#=FileName#&screenCode={screenCode}&key={parentValue}'><img src='{logoThumbnailUrl}#=Thumbnail#' alt='#=Thumbnail #' Title='#=FileTitle #' height='62' width='62' /></a>";
    var openLinkTemplate = $"<a target='_blank' href='#=FileId#'><img src='{thumbnailUrl}&thumbnailFile=#=Thumbnail#&screenCode={screenCode}&key={parentValue}' alt='#=Thumbnail #' Title='#=FileTitle #' height='62' width='62' /></a>";

    var openTemplate = "# if (Thumbnail.startsWith('logo')){#" + openLogoTemplate + "# }" +
                                                    "else { #" + openFileTemplate + "# }#";

    var settings = await Settings.GetSetting();
    switch (settings.DocumentStorage)
    {
        case DocumentStorageOptions.iManage:
            openTemplate = $"<a href='{Url.Action("Open", "iManageWork", new { Area = "" })}/#=ItemId#' title='#=FileTitle#' alt='#=FileTitle#' target='_blank' rel='noopener'>#if (Thumbnail) {{#<img src='#=Thumbnail#' title='#=FileTitle#' alt='#=FileTitle#' height='62' width='62'>#}} else {{#<i class='#=IconClass# fa-2x'>#}}#</i></a>";
            break;

        case DocumentStorageOptions.NetDocuments:
            openTemplate = $"<a href='{Url.Action("Open", "NetDocs", new { Area = "" })}/#=ItemId#' title='#=FileTitle#' alt='#=FileTitle#' target='_blank' rel='noopener'>#if (Thumbnail) {{#<img src='#=Thumbnail#' title='#=FileTitle#' alt='#=FileTitle#' height='62' width='62'>#}} else {{#<i class='#=IconClass# fa-2x'>#}}#</i></a>";
            break;
    }
}

<div class="d-flex justify-content-center">
        <div class="col-md-11 col-md-offset-5 m-3">
            @(Html.Kendo().Grid<AttachedFileDTO>
        ()
        .Name("qeAttachmentsGrid")
        .Columns(columns =>
        {
            columns.Bound(p => p.FileTitle).Title("Title").Width(140);
            columns.Bound(p => p.FileName).Title("Image Path").Width(140);
            columns.Bound(p => p.Thumbnail).Title("Image").Width(80).ClientTemplate(
            "# if (Thumbnail == 'logo_url.png'){#" + openLinkTemplate + "# }" +
            "else { #" + openTemplate + "# }#");
        })
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))       
        .HtmlAttributes(new { style = "height:300px;" })
        .AutoBind(false)
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(5)
        .Model(model =>
        {
            model.Id(i => i.FileId);
            model.Field(p => p.FileTitle).Editable(false);
            model.Field(p => p.FileName).Editable(false);
            model.Field(p => p.Thumbnail).Editable(false);
        })
        .Read(read => read.Action("QEAttachmentsRead", "DocsOut", new {system = system, id = idParam}))
        .Events(events =>
        {
            events.Error("pageHelper.onGridError");
        })
        )
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .HtmlAttributes(new { @class = "kendo-Grid" })
        )
    </div>
    </div>