@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="desCaseTypeExtSearchMainTab" href="#desCaseTypeExtSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="desCaseTypeExtSearchMainTabContent" title="@Localizer["Des Case Type Ext"]">@Localizer["Des Case Type Ext"]</a>
</li>
