@model int
@inject IStringLocalizer<AdminResource> Localizer
<form data-url="@Url.Action("Revoke", new { id = Model })" data-on-success="onConfirmSuccess">
    <div class="row message-wrap">
        <div class="col-2 text-center pl-md-4 pt-1">
            <i class="text-danger far fa-exclamation-triangle fa-2x"></i>
        </div>
        <div class="col-10">
            <p>@Localizer["Are you sure you want to revoke this request?"]</p>
        </div>
    </div>
</form>
<script>
    function onConfirmSuccess(e) {
        //refresh detail
        pageHelper.showDetails(tradeSecretPage, e.id, function() {
            //then show success message
            pageHelper.showSuccess(e.message);
        })
    }
</script>