@model PageViewModel
@inject IStringLocalizer<AdminResource> Localizer
@{
    var defaultStatus = (ViewData["Status"] ?? string.Empty) as string;
}

<div class="tab-content search page-content">
    <div class="tab-pane show active" id="tsMainInfoTabContent" aria-labelledby="tsMainInfoTab" role="tabpanel">
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="UserId">@Localizer["Email"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "UserId", action = "GetEmails", textProperty = "Email", valueProperty = "UserId" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Status">@Localizer["Status"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Status", defaultValue = defaultStatus })
                </div>
            </div>
            <div class="col-md-3 col-xl-2">
                <div class="form-group d-flex justify-content-end">
                    <label class="label" for="ShowExpired">@Localizer["Show Expired Requests"]</label>
                    <label class="toggle-switch">
                        <input id="ShowExpired" name="ShowExpired" type="checkbox" class="toggle-option">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>