@inject IStringLocalizer<AdminResource> Localizer

<li class="nav-item">
    <a class="nav-link active" id="tsMainInfoTab" data-toggle="tab" href="#tsMainInfoTabContent" role="tab" aria-controls="tsMainInfoTabContent">@Localizer["Request"]</a>
</li>
