@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="tmkAreaDeleteSearchMainTab" href="#tmkAreaDeleteSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tmkAreaDeleteSearchMainTabContent" title="@Localizer["Area Delete"]">@Localizer["Area Delete"]</a>
</li>
