@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="patIndicatorSearchMainTab" href="#patIndicatorSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patIndicatorSearchMainTabContent" title="@Localizer["Patent Indicator"]">@Localizer["Patent Indicator"]</a>
</li>
