@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="areaCountrySearchMainTab" href="#areaCountrySearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="areaCountrySearchMainTabContent" title="@Localizer["Area Country"]">@Localizer["Area Country"]</a>
</li>
