@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="DataQueryCategorySearchMainTab" href="#DataQueryCategorySearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="DataQueryCategorySearchMainTabContent" title="@Localizer["Custom Query Category"]">@Localizer["Custom Query Category"]</a>
</li>