@inject IStringLocalizer<AdminResource> Localizer

<li class="nav-item">
    <a id="adminUserSetupSearchTab" href="#adminUserSetupSearchTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="adminUserSetupSearchTabContent" title="@Localizer["User"]">@Localizer["User"]</a>
</li>