@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="desCaseTypeFieldsSearchMainTab" href="#desCaseTypeFieldsSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="desCaseTypeFieldsSearchMainTabContent" title="@Localizer["Des Case Type Fields"]">@Localizer["Des Case Type Fields"]</a>
</li>
