<div class="page-status alert alert-danger alert-dismissible boxy collapse" role="alert">
    <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="message"></span>
</div>
@*<script src="~/js/statusMessage.js" asp-append-version="true"></script>*@