@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="emailSetupSearchTab" href="#emailSetupSearchTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="emailSetupSearchTabContent" title="@Localizer["Notification Setup"]">@Localizer["Notification Setup"]</a>
</li>