@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="patCountryLawExtSearchMainTab" href="#patCountryLawExtSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patCountryLawExtSearchMainTabContent" title="@Localizer["CountryLaw Ext"]">@Localizer["CountryLaw Ext"]</a>
</li>
