@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer
<div class="tab-content search page-content">
    <div class="tab-pane show active" id="patCountryLawExtSearchMainTabContent" aria-labelledby="patCountryLawExtSearchMainTab" role="tabpanel">
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Country">@Localizer["Country"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Country" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="CaseType">@Localizer["Case Type"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CaseType" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="LabelTaxSched">@Localizer["Label Tax Sched"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "LabelTaxSched" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="SystemName">@Localizer["Systems"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "SystemName", controller = "System", area = "Shared", action = "GetPicklistData" })
                </div>
            </div>
        </div>
    </div>
</div>
