@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="cpiSystemSearchMainTab" href="#cpiSystemSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="cpiSystemSearchMainTabContent" title="@Localizer["System"]">@Localizer["System"]</a>
</li>
