@model CPiMenuItem

@{ 
    bool isPage = Model.PageId != null;
}
<form id="formMenuItemInfo" class="form-detail" method="post">
    <div class="row">
        <div class="col">
            <input asp-for="Id" class="form-control" hidden />
            <input asp-for="ParentId" class="form-control" hidden />
            @if (isPage)
            {
                <div class="form-group">
                    <label asp-for="PageId"></label>
                    @(Html.Kendo().DropDownListFor(model => model.PageId)
                                                            .DataTextField("Name")
                                                            .DataValueField("Id")
                                                            .AutoBind(true)
                                                            .HtmlAttributes(new { style = "width: 100%", @class = "k-control" })
                                                            .DataSource(source =>
                                                            {
                                                                source.Read(read =>
                                                                {
                                                                    read.Action("GetMenuPages", "Navigation").Data("getArea");
                                                                })
                                                            .ServerFiltering(true);
                                                            })
                                                            .Template("<div class='h5 text-dark'>#: data.Name #</div><div class='small text-muted' style='margin-top: -10px;'>#: data.Area #/#: data.Controller ##: data.Query == '' ? '' : '?' + data.Query #</div>")
                    )
                    <span asp-validation-for="PageId"></span>
                </div>
                <div class="form-group pt-2">
                    <label asp-for="OpenInNewWindow"></label>
                    <span class="pl-2"><label class="toggle-switch"><input id="OpenInNewWindow" name="OpenInNewWindow" type="checkbox" class="toggle-option" @checked((Model.OpenInNewWindow ?? false) ? "checked" : "")><span class="slider round"></span></label></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title"></span>
                </div>
                @if (Model.Url != null)
                {
                    <div class="form-group">
                        <label asp-for="Url"></label>
                        <input class="form-control" type="url" data-val="true" data-val-required="The Url field is required." id="Url" name="Url" value="@Model.Url" required>
                        <span asp-validation-for="Url"></span>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="Policy"></label>
                    @(Html.Kendo().DropDownListFor(model => model.Policy)
                                                            .HtmlAttributes(new { style = "width: 100%;", @class = "k-control" })
                                                            .OptionLabel("")
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                            .DataSource(source =>
                                                            {
                                                                source.Read(read =>
                                                                {
                                                                    read.Action("GetPolicies", "Navigation")
                                                                        .Data("getArea");
                                                                });
                                                            })
                    )
                    <span asp-validation-for="Policy"></span>
                </div>
            }
        </div>
    </div>
</form>