@inject IStringLocalizer<SharedResource> Localizer
<li class="nav-item">
    <a id="patDesCaseTypeExtSearchMainTab" href="#patDesCaseTypeExtSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patDesCaseTypeExtSearchMainTabContent" title="@Localizer["DesCaseType Ext"]">@Localizer["DesCaseType Ext"]</a>
</li>
