@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="areaSearchMainTab" href="#areaSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="areaSearchMainTabContent" title="@Localizer["Area"]">@Localizer["Area"]</a>
</li>
