@inject IStringLocalizer<SharedResource> Localizer

<li class="nav-item">
    <a id="productGroupSearchMainTab" href="#productGroupSearchMainTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="productGroupSearchMainTabContent" title="@Localizer["Product Group"]">@Localizer["Product Group"]</a>
</li>