@model TmkDesCaseTypeFields
@inject IStringLocalizer<SharedResource> Localizer
@{
    var addMode = Model.IsNewRecord || string.IsNullOrEmpty(Model.DesCaseType);

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
}
<form cpi-detail-form action="Save">
    @if (addMode)
    {
        <input type="hidden" name="IsNewRecord" value="true" class="boolean" />
    }
    <input type="hidden" name="OriginalSystems" value="@(addMode ? "__NEW__" : (string.IsNullOrEmpty(Model.Systems) ? "__EMPTY__" : Model.Systems))" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="DesCaseType"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="DesCaseType" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "DesCaseType", controller = "DesCaseType", area = "Trademark", action = "GetPicklistData", textProperty = "DesCaseType", defaultValue = Model.DesCaseType })
                        <span asp-validation-for="DesCaseType"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-8 col-md-7 col-lg-6 col-xl-5">
                <div class="form-group float-label">
                    <label asp-for="FromField"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="FromField" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "FromField", controller = "DesCaseTypeFields", area = "Trademark", action = "GetPicklistData", defaultValue = Model.FromField })
                        <span asp-validation-for="FromField"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-8 col-md-7 col-lg-6 col-xl-5">
                <div class="form-group float-label">
                    <label asp-for="ToField"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="ToField" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "ToField", controller = "DesCaseTypeFields", area = "Trademark", action = "GetPicklistData", defaultValue = Model.ToField })
                        <span asp-validation-for="ToField"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group float-label">
                    <label asp-for="Systems"></label>
                    <input type="hidden" name="Systems" id="tmkDCTF_SystemsHidden" value="@Model.Systems" />
                    <div class="border rounded p-2 position-relative" style="min-height: 60px; padding-top: 30px !important;">
                        @if (!isReadOnly)
                        {
                            <div class="position-absolute" style="top: 4px; right: 8px;">
                                <label class="small mb-0" style="cursor:pointer;"><input type="checkbox" id="tmkDCTF_systemsToggleAll" class="mr-1"/>Select All</label>
                            </div>
                        }
                        <div id="tmkDCTF_systemsCheckboxes"></div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            var disabled = @(isReadOnly ? "true" : "false");
                            var selected = ($('#tmkDCTF_SystemsHidden').val() || '').split(',').filter(function(s) { return s.length > 0; });
                            $.getJSON('@Url.Action("GetSystemList", "DesCaseTypeFields")', function(data) {
                                var html = '';
                                $.each(data, function(i, name) {
                                    var checked = selected.indexOf(name) > -1 ? ' checked' : '';
                                    var dis = disabled ? ' disabled' : '';
                                    html += '<label class="mr-3" style="white-space:nowrap;"><input type="checkbox" class="tmkDCTF_systemChk mr-1" value="' + name + '"' + checked + dis + '/>' + name + '</label>';
                                });
                                $('#tmkDCTF_systemsCheckboxes').html(html);
                                var allCount = $('.tmkDCTF_systemChk').length;
                                var checkedCount = $('.tmkDCTF_systemChk:checked').length;
                                $('#tmkDCTF_systemsToggleAll').prop('checked', allCount > 0 && allCount === checkedCount);
                            });
                            $(document).on('change', '.tmkDCTF_systemChk', function() {
                                var vals = [];
                                $('.tmkDCTF_systemChk:checked').each(function() { vals.push($(this).val()); });
                                $('#tmkDCTF_SystemsHidden').val(vals.join(','));
                                var allCount = $('.tmkDCTF_systemChk').length;
                                var checkedCount = $('.tmkDCTF_systemChk:checked').length;
                                $('#tmkDCTF_systemsToggleAll').prop('checked', allCount > 0 && allCount === checkedCount);
                            });
                            $('#tmkDCTF_systemsToggleAll').click(function() {
                                var isChecked = $(this).prop('checked');
                                $('.tmkDCTF_systemChk').prop('checked', isChecked).first().trigger('change');
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    tmkDesCaseTypeFieldsPage.afterInsert = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    tmkDesCaseTypeFieldsPage.showDetails = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    $(document).ready(function() {
        $('.copy-record').off('click').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).data('url');
            if (url) pageHelper.openLink(url, true);
        });
    });
</script>
