@inject IStringLocalizer<AdminResource> Localizer

<li class="nav-item">
    <a class="nav-link active" id="activityLogMainInfoTab" data-toggle="tab" href="#activityLogMainInfoTabContent" role="tab" aria-controls="activityLogMainInfoTabContent">@Localizer["Activity Log"]</a>
</li>
