@model PageViewModel
@inject IStringLocalizer<AdminResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var detailsUrl = Url.Action("Detail", new { id = "#: Id#", fromSearch = true });
    var detailsLinkTemplate = $"<a href='{detailsUrl}' class='details-link' data-id='#: Id#'>#: kendo.toString(ActivityDate, 'dd-MMM-yyyy')#<br>#: kendo.toString(ActivityDate, 'hh:mm:ss tt')#</a>";
}
@(Html.Kendo().Grid<ActivityLogSearchResultViewModel>
    ()
    .Name($"{Model.PageId}-Grid")
    .Columns(columns =>
    {
        columns.Bound(l => l.ActivityDate).ClientTemplate(detailsLinkTemplate)
            .HtmlAttributes(new { style = "text-align:right;", @class = "text-nowrap" })
            .HeaderHtmlAttributes(new { style = "text-align:right;" });
        columns.Bound(l => l.UserId).HtmlAttributes(new { style = "min-width: 150px;", @class = "word-wrap" });
        columns.Bound(l => l.HostName).MinScreenWidth(768).HtmlAttributes(new { @class = "text-nowrap" });
        columns.Bound(l => l.RemoteAddress).MinScreenWidth(992);
        columns.Bound(l => l.RequestUrl).HtmlAttributes(new { style = "min-width: 150px;", @class = "word-wrap" });
        columns.Bound(l => l.RequestMethod).MinScreenWidth(1400);
        columns.Bound(l => l.UserAgent).MinScreenWidth(1200);
        columns.Bound(l => l.AcceptLanguage).MinScreenWidth(1400);
    })
    .ToolBar(tools => tools.ClientTemplate(Model.ToolbarTemplate(Url.Action("Add", new { fromSearch = true }), Localizer["Add"], Localizer["Export to Excel"], Localizer["Clear Filters"])))
    .AutoBind(false)
    .Pageable(page => page.PageSizes(settings.SearchResultsPageSizeOptions).Refresh(true))
    .Sortable(sort => sort.AllowUnsort(false))
    //.ColumnMenu()
    .Excel(excel => excel.FileName("ActivityLog.xlsx").AllPages(true))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => events.Error($"{ViewBag.ActivePage}.searchResultGridError"))
        .Events(events => events.RequestEnd($"{ViewBag.ActivePage}.searchResultGridRequestEnd"))
        .PageSize(User.GetSearchResultsPageSize(settings.SearchResultsPageSize))
        .Read(read => read.Action("PageRead", "ActivityLog")
            .Data($"{ViewBag.ActivePage}.gridMainSearchFilters"))
        .Sort(sort => sort.Add(l => l.ActivityDate).Descending())
      )
      .HtmlAttributes(new { @class = "kendo-Grid" }))

    <script>
        $(document).ready(function () {
            //$(".kendo-Grid .k-grid-toolbar").addClass("sidebar-link show");
            $(".kendo-Grid .k-grid-toolbar").addClass("show");
        });
    </script>