<div class="dialog-header">
    <div class="name">
        @Model.FullName
        @if(Model.Inactive)
        {
            <i class="text-danger small fa fa-minus-circle d-sm" title="Inactive"></i>
        }
        @if(Model.IsLockedOut)
        {                    
            <i class="text-danger small fa fa-lock d-sm" title="Locked out"></i>
        }
    </div>
    <div class='email small'>@Model.Email</div>
</div>