@model UserDetailViewModel

<form id="ResetPassword" method="post" data-url="@(Url.Action("ResetPassword"))">
    <div class="modal-status page-status alert alert-danger collapse" role="alert" style="margin-top: -10px;"><span class="message"></span></div>
    <input class="form-data" type="hidden" name="PkId" value="@Model.PkId" />
    <div class="form-row">        
        <div class="col-12 pb-2">
            @await Html.PartialAsync("_DialogHeader")
        </div>
        <div class="col-12">
            <div class="form-group float-label">
                <label asp-for="Password"></label>
                <div class="input-group">
                    <input asp-for="Password" class="form-control gen-pwd form-data" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-toggle-pwd" type="button"><i class="toggle-pwd far fa-eye-slash"></i></button>
                        <button class="btn btn-outline-secondary btn-gen-pwd" type="button" data-url="@Url.Action("GeneratePassword", new { Area = "Admin" })"><i class="gen-pwd-spinner fa fa-circle-notch fa-fixed-width fa-spin" style="display: none;"></i>Generate</button>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group float-label">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control gen-pwd" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="form-group float-label">
                <div class=" custom-control custom-checkbox">
                    <input asp-for="EmailNewPassword" class="custom-control-input form-data" />
                    <label asp-for="EmailNewPassword" class="custom-control-label">
                    </label>
                </div>
                <span asp-validation-for="EmailNewPassword"></span>
            </div>
        </div>
        @if(!Model.CannotChangePassword)
        {
            <div class="col-12 mt-3">
                <div class="form-group float-label">
                    <div class=" custom-control custom-checkbox">
                        <input asp-for="RequireChangePassword" class="custom-control-input pwd-option form-data" />
                        <label asp-for="RequireChangePassword" class="custom-control-label">
                        </label>
                    </div>
                    <span asp-validation-for="RequireChangePassword"></span>
                </div>
            </div> 
        }
    </div>

</form>
<script>
    $(document).ready(function () {   
        $("#ResetPassword .btn-toggle-pwd").on("click", function (e, show) { userSetupPage.togglePassword($(e.currentTarget), show); });
        $("#ResetPassword .btn-gen-pwd").on("click", function (e) { userSetupPage.generatePassword($(this)); });
        $("#ResetPassword").floatLabels();
    }); 
</script>