@model string
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings

@{
    var settings = await Settings.GetSetting();

    string crMainContainer = "customReportContent";
}

<div id="customReportContent" class="page-main" data-sqlchange-url="@Url.Action("ChangeSql")">
    <div class="sidebar-link"></div>
    <div class="page-message"></div>
    <div class="page-header page-crumbs"></div>
    <div id="customReportDetail">
        <div class="cpiDataContainer">
        </div>
    </div>

    <div class="content-stamp"></div>
</div>

<div class="cpiContainerPopup"></div>

@*<script src="~/lib/aqb/aqb.client.js"></script>
    <script>
        $(document).ready(function () {

            // instantiate AQB
            const instanceName = "@Model";
            AQB.Web.virtualDirectory = "@aqbPathBase";
            AQB.Web.UI.QueryBuilder(instanceName, $("#cpiDQ"));
            AQB.Web.UI.ObjectTreeView(instanceName, $("#cpiDQtreeview"));
            AQB.Web.UI.SubQueryNavigationBar(instanceName, $("#cpiDQnavbar"));
            AQB.Web.UI.Canvas(instanceName, $("#cpiDQcanvas"));
            AQB.Web.UI.StatusBar(instanceName, $("#cpiDQstatusbar"));
            AQB.Web.UI.Grid(instanceName, $("#cpiDQgrid"), { orColumnCount: @whereColumnCount });
            AQB.Web.UI.SqlEditor(instanceName, $("#cpiDQsql"));
            AQB.Web.UI.startApplication("@createDQUrl", instanceName);           // pass query id instead of instance name; the parameter passed to controller is hard-coded by AQB as 'name'

            dataQuery.initializeDetailContentMain({
                crMainContainerId: "#@crMainContainer",
                aqbContainerId: "#@aqbContainerId",
                aqbResultGridId: "#@gridId"
            });

           AQB.Web.onQueryBuilderReady(function (qb) {
                qb.on(qb.Events.SqlChanged, function () { // sample subscription to query changes made in the UI.
                    const aqbSqlExpr = qb.EditorComponent.getSql();
                    $("#SQLExpr").val(aqbSqlExpr).trigger("change");
                });
                qb.on(qb.Events.SQLTextChanged, function () { // sample subscription to SQL text changes made by the user.
                    const aqbSqlExpr = qb.EditorComponent.getSql();
                    $("#SQLExpr").val(aqbSqlExpr).trigger("change");
                });

            });

        });
    </script>

    <style>
          #@(gridId) .k-grid-content {
            min-height: 100px;
            max-height: 470px;
        }
    </style>*@