@model ChildQuickEmailViewModel
@inject IStringLocalizer<QuickEmailResource> SharedLocalizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var systemType = Model.ParentViewModel.SystemType;
    var systemName = QuickEmailHelper.GetSystem(systemType);
    var screenCode = ImageHelper.GetScreenCode(Model.ParentViewModel.ParentKey);
    var parentValue = Model.ParentViewModel.ParentId;

     var viewUrl = Url.Content("~/FileViewer/ViewLogImage?system=" + systemName);
        var thumbnailUrl = Url.Content("~/FileViewer/GetThumbnail?system=" + systemName);
        var logoThumbnailUrl = @Url.Content("~/images/");

        var openFileTemplate = $"<a target='_blank' href='{viewUrl}&fileId=#=FileName#&screenCode={screenCode}&key={parentValue}'><img src='{thumbnailUrl}&thumbnailFile=#=Thumbnail#&screenCode={screenCode}&key={parentValue}&fileType=9' alt='#=Thumbnail #' Title='#=FileTitle #' height='62' width='62' /></a>";
        var openLogoTemplate = $"<a target='_blank' href='{viewUrl}&fileId=#=FileName#&screenCode={screenCode}&key={parentValue}'><img src='{logoThumbnailUrl}#=Thumbnail#' alt='#=Thumbnail #' Title='#=FileTitle #' height='62' width='62' /></a>";
        var openLinkTemplate = $"<a target='_blank' href='#=FileId#'><img src='{thumbnailUrl}&thumbnailFile=#=Thumbnail#&screenCode={screenCode}&key={parentValue}' alt='#=Thumbnail #' Title='#=FileTitle #' height='62' width='62' /></a>";

        var openTemplate = "# if (Thumbnail.startsWith('logo')){#" + openLogoTemplate + "# }" +
                                                        "else { #" + openFileTemplate + "# }#";

    switch (settings.DocumentStorage)
    {
        case DocumentStorageOptions.SharePoint:
            openTemplate = $"<a href='' class='sp-preview' data-lib='#=SharePointDocLibrary#' data-item='#=ItemId#'><span><i class='#=IconClass# pr-3'></i></span></a>";
            break;

        case DocumentStorageOptions.iManage:
            openTemplate = $"<a href='{Url.Action("Open", "iManageWork", new { Area = "" })}/#=ItemId#' title='#=FileTitle#' alt='#=FileTitle#' target='_blank' rel='noopener'>#if (Thumbnail) {{#<img src='#=Thumbnail#' title='#=FileTitle#' alt='#=FileTitle#' height='62' width='62'>#}} else {{#<i class='#=IconClass# fa-2x'>#}}#</i></a>";
            break;

        case DocumentStorageOptions.NetDocuments:
            openTemplate = $"<a href='{Url.Action("Open", "NetDocs", new { Area = "" })}/#=ItemId#' title='#=FileTitle#' alt='#=FileTitle#' target='_blank' rel='noopener'>#if (Thumbnail) {{#<img src='#=Thumbnail#' title='#=FileTitle#' alt='#=FileTitle#' height='62' width='62'>#}} else {{#<i class='#=IconClass# fa-2x'>#}}#</i></a>";
            break;
    }
}
<script>
    function qeAttachmentGridDataBound(e) {
        $("#qeAttachmentsGrid").find(".sp-preview").on("click", function (e) {
            e.preventDefault();
            const item = $(this);
            sharePointGraphHelper.previewFile(item.data("lib"), item.data("item"));
        });
    }
</script>
<br />
<div id="imagesLinksContainer" class="row">
    <div class="col">
        @(Html.Kendo().Grid<AttachedFileDTO>
        ()
        .Name("qeAttachmentsGrid")
        .Columns(columns =>
        {
            columns.Bound(p => p.FileId).ClientTemplate("<input id='FileId' type='hidden' value='#=FileId#' />").Hidden();
            columns.Bound(p => p.Send).ClientTemplate("<input type='checkbox' #=Send ? checked='checked' : '' # class='chkbox'>")
        .HtmlAttributes(new { @class = "text-center" })
        .HeaderHtmlAttributes(new { @class = "-text-center" }).Width(100).EditorTemplateName("CheckBox");
            columns.Bound(p => p.Thumbnail).ClientTemplate(
            "# if (Thumbnail.startsWith('logo_url')){#" + openLinkTemplate + "# }" +
            "else { #" + openTemplate + "# }#");
            columns.Bound(p => p.FileTitle);
        })
                    .Editable(editable => editable.Enabled(true).Mode(GridEditMode.InCell))
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Batch(true)
                    .Model(model => {
                        model.Id(i => i.FileId);
                        model.Field(i => i.Thumbnail).Editable(false);
                        model.Field(i => i.FileTitle).Editable(false);
                    })
                    .ServerOperation(false)
                    .PageSize(4)
                    .Read(read => read.Action("AttachmentRead", "QuickEmail",new {logId=Model.ParentViewModel.LogId}))
                    .Events(events =>
                    {
                        events.Error("pageHelper.onGridError");
                    })
                    )
                    .Pageable(pageable => pageable
                    .Refresh(true)
                    .PageSizes(true)
                    .ButtonCount(5))
                    .Events(events => events.DataBound($"function(e) {{qeAttachmentGridDataBound(e);}}"))
                    .HtmlAttributes(new { @class = "mb-2 kendo-Grid"})
            )
    </div>
</div>