@inject IStringLocalizer<AdminResource> Localizer

<li class="nav-item">
    <a class="nav-link active" id="errorLogMainInfoTab" data-toggle="tab" href="#errorLogMainInfoTabContent" role="tab" aria-controls="errorLogMainInfoTabContent">@Localizer["Error Log"]</a>
</li>
