@inject IStringLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["Error Log"].ToString();
    ViewData.AddActivePage(AdminNavPages.Logs);
}
    @(Html.Kendo().Grid<R10.Core.Entities.Log>
    ()
    .Name("gridLogs")
    .Columns(columns =>
    {
        columns.Bound(l => l.Id).Width(50);
        columns.Bound(l => l.TimeStamp).Format("{0: dd-MMM-yyyy hh:mm tt}").Width(180);
        columns.Bound(l => l.Level).Width(50);
        columns.Bound(l => l.Message).Width(450);
        //columns.Command(command =>
        //                {
        //                        command.Custom("Details")
        //                                .Click("showErrorDetails")
        //                                .IconClass("k-icon fas fa-search");
        //                }).Width(50);
    })
    .Editable(editable => editable.Enabled(false))
    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
    .Pageable()
    .Sortable(sort => sort.AllowUnsort(false))
    .AutoBind(true)
    .DataSource(dataSource => dataSource
    .Ajax()
    .Batch(true)
    .ServerOperation(true)
    .Read(read => read.Action("PageRead", "ErrorLog"))
    .Model(model =>
    {
        model.Id(l => l.Id);
    })
    .Sort(sort => sort.Add(l => l.TimeStamp).Descending())
    .PageSize(20)
    )
    .HtmlAttributes(new { @class = "kendo-Grid" })
    )
<div class="cpiContainerPopup"></div>

<script>
    function showErrorDetails(e) {
        e.preventDefault();

        const dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        const baseUrl = $("body").data("base-url");
        const url = `${baseUrl}/Admin/ErrorLog/Detail`;

        $.get(url, { id: dataItem.Id }).done((result) => {
            console.log(result);
            $(".cpiContainerPopup").empty();
            const popupContainer = $(".cpiContainerPopup").last();
            popupContainer.html(result);
            const dialog = $("#errorLogDetailsDialog");
            dialog.modal("show");
        }).fail(function (error) {
            pageHelper.showErrors(error.responseText);
        });

    }
</script>
